<div class="container main-custom-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel-body">
        <div class="sub-heading">
          <h2>Locale Settings</h2>
        </div>
        <div class="sub-heading-content">
          <form class="form-horizontal form-bordered" [formGroup]="localeSettingForm">
            <div class="form-group col-md-5">
              <mat-label>Timezone</mat-label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="timezone">
                <mat-error class="form-error">
                  <!-- {{formErrors.name}} -->
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-5">
              <mat-label>Language</mat-label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="language">
                <mat-error class="form-error">
                  <!-- {{formErrors.name}} -->
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-5">
              <mat-label>Supported Languages</mat-label>

              <mat-form-field appearance="outline">
                <mat-select formControlName="supportedLanguages" multiple>
                  <mat-select-trigger>
                    <mat-chip-list>
                      <mat-chip *ngFor="let lang of localeSettingForm.value.supportedLanguages" [removable]="true"
                        (removed)="onLanguageRemoved(lang)">
                        {{ lang.name }}
                        <mat-icon matChipRemove>cancel</mat-icon>
                      </mat-chip>
                    </mat-chip-list>
                  </mat-select-trigger>
                  <input class="search-filter" type="text" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" placeholder="Search">
                  <mat-option *ngFor="let lang of languages | searchFilter:searchTerm" [value]="lang">{{lang.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="action-area padding-btn">
              <button mat-raised-button class="blue-btn service-trigger" (click)="onSave()">Save</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
