<div *ngIf="spinner" class="loading-area">
    <mat-spinner></mat-spinner>
</div>
<div class="container main-custom-container">
    <div class="row">
        <div class="col-sm-12 p-0">
            <div class="panel-body">
                <div class="sub-heading">
                    <h2>Teams</h2>
                </div>
                <div class="routing-content panel-page-content">
                    <div class="filter-section">
                        <div class="filter-area">
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-select>
                                        <mat-option *ngFor="let team of teamData" [value]="team.name">
                                            {{team.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="main-search-area">
                            <div class="form-group search-field">
                                <mat-form-field appearance="outline">
                                    <input matInput [(ngModel)]="searchTerm" placeholder="Search">
                                    <mat-icon>search</mat-icon>
                                </mat-form-field>
                            </div>

                            <button (click)="addTeam(teamDialog)" mat-flat-button>
                                <mat-icon>add</mat-icon>
                                New Team
                            </button>
                        </div>
                    </div>



<!--                    <div class="filter-section">-->



<!--                        <div class="form-group search-field">-->
<!--                            <mat-form-field appearance="outline">-->
<!--                                <input [(ngModel)]="searchTerm" matInput placeholder="Search">-->
<!--                                <mat-icon>search</mat-icon>-->
<!--                            </mat-form-field>-->
<!--                        </div>-->

<!--                        <button (click)="addTeam(teamDialog)" mat-flat-button>-->
<!--                            <mat-icon>add</mat-icon>-->
<!--                            New Team-->
<!--                        </button>-->
<!--                    </div>-->

                    <div class="routing-table">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Supervisor (s)</th>
                                <th scope="col">Secondary Supervisor (s)</th>
                                <th class="agents-list-data" scope="col">Agents</th>
                                <th scope="col">Created On</th>
                            </tr>
                            </thead>
                            <tbody *ngIf="teamData && teamData.length != 0">
                            <tr *ngFor="let data of teamData | filter:searchTerm | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">

                                <td>{{data.name ? data.name : 'N/A'}}</td>
                                <td>
                                    <ng-container *ngFor=" let supervisor of data.supervisors">{{supervisor.name }},
                                    </ng-container>
                                </td>
                                <td>
                                    <ng-container *ngFor=" let secondarySupervisor of data.secondarySupervisors">{{secondarySupervisor.name }},
                                    </ng-container>
                                </td>
                                <td class="agents-list-data"><span class="agents-in-team" (click)="agentLists(agentsList)">{{data.availableAgents ? data.availableAgents : 'N/A'}}</span></td>
                                <td class="table-trigger">{{data.createdOn | date}}
                                    <span class="list-trigger-area">
                                        <button (click)="assignUnassignAgents(assignUnassign,data)" mat-mini-fab matTooltip="Assign - unassign agent(s)">
                                        <mat-icon>supervisor_account</mat-icon>
                                        </button>
                                            <button (click)="editTeam(teamDialog,data)" mat-mini-fab matTooltip="Edit">
                                        <!-- <i class="fa fa-pencil" aria-hidden="true"></i> -->
                                        <mat-icon>mode_edit</mat-icon>
                                        </button>
                                        <button (click)="deleteConfirm(data)" mat-mini-fab matTooltip="Delete">
                                        <!-- <i class="fa fa-trash-o" aria-hidden="true"></i> -->
                                        <mat-icon>delete</mat-icon>
                                        </button>
                                        </span>
                                </td>
                            </tr>

                            </tbody>

                            <div *ngIf="teamData && teamData.length == 0" class="no-data-warning">
                                <i class="material-icons">warning_amber</i>
                                <span>No Data Found</span>
                            </div>

                        </table>
                        <div *ngIf="teamData && teamData.length >= 6" class="pagination-section">
                            <span class="page-span">
                            <span>Entries Per Page</span>
                            <select [(ngModel)]="selectedItem">
                            <option *ngFor="let item of itemsPerPageList" [value]="item">{{ item }}
                            </option>
                            </select>
                            </span>
                            <pagination-controls (pageBoundsCorrection)="pageBoundChange($event)"
                                                 (pageChange)="p = $event;pageChange($event)" nextLabel="" previousLabel="">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #teamDialog>
        <div class="dialog-container">
            <div class="mat-card-header">
                <mat-icon (click)="onClose()">close</mat-icon>
                <h4 class="content-span full-width">{{formHeading}}</h4>
            </div>
            <div class="dialog-content">
                <!--                <form class="form-horizontal form-bordered"  [formGroup]="loginForm">-->
                <div class="form-group">
                    <mat-label>Name</mat-label>
                    <mat-form-field appearance="outline">
                        <input [(ngModel)]="teams" disabled="{{teams.length > 0}}" matInput>
                    </mat-form-field>
                </div>

                <div class="form-group mb-4">
                    <mat-label>Supervisor(s)</mat-label>
                    <div class="multi-select-options form-control">
                        <angular2-multiselect
                                (onDeSelect)="OnItemDeSelect($event)"
                                (onDeSelectAll)="onDeSelectAll($event)"
                                (onSelect)="onItemSelect($event)"
                                (onSelectAll)="onSelectAll($event)"
                                [(ngModel)]="selectedSupervisor"
                                [data]="dropdownList"
                                [ngModelOptions]="{ standalone: true }"
                                [settings]="dropdownSettings">
                            <c-badge>
                                <ng-template let-item="item">
                                    <label class="item-name">{{ item.supervisor }}</label>
                                </ng-template>
                            </c-badge>
                            <c-item>
                                <ng-template let-item="item">
                                    <label class="item-list-name">{{ item.agentUsername }} <small>({{ item.supervisor}})</small></label>
                                </ng-template>
                            </c-item>
                        </angular2-multiselect>
                    </div>


                </div>

                <div class="form-group mb-4">
                    <mat-label>Secondary Supervisor(s)</mat-label>
                    <div class="multi-select-options form-control">
                        <angular2-multiselect
                                (onDeSelect)="OnItemDeSelect($event)"
                                (onDeSelectAll)="onDeSelectAll($event)"
                                (onSelect)="onItemSelect($event)"
                                (onSelectAll)="onSelectAll($event)"
                                [(ngModel)]="secondarySupervisor"
                                [data]="dropdownList"
                                [ngModelOptions]="{ standalone: true }"
                                [settings]="dropdownSettings">
                            <c-badge>
                                <ng-template let-item="item">
                                    <label class="item-name">{{ item.supervisor }}</label>
                                </ng-template>
                            </c-badge>
                            <c-item>
                                <ng-template let-item="item">
                                    <label class="item-list-name">{{ item.agentUsername }} <small>({{ item.supervisor}})</small></label>
                                </ng-template>
                            </c-item>
                        </angular2-multiselect>
                    </div>


                </div>


                <div class="form-group">
                    <mat-label>Add agent(s)</mat-label>
                    <div class="multi-select-options form-control">
                        <angular2-multiselect
                                (onDeSelect)="OnItemDeSelect($event)"
                                (onSelect)="onItemSelect($event)"
                                [(ngModel)]="selectedAgent"
                                [data]="dropdownList"
                                [ngModelOptions]="{ standalone: true }"
                                [settings]="dropdownSettings">
                            <c-badge>
                                <ng-template let-item="item">
                                    <label class="item-name">{{ item.agentName }}</label>
                                </ng-template>
                            </c-badge>
                            <c-item>
                                <ng-template let-item="item">
                                    <label class="item-list-name">{{ item.agentUsername }} <small>({{ item.agentName }})</small></label>
                                </ng-template>
                            </c-item>
                        </angular2-multiselect>
                    </div>


                </div>
                <div class="template-action row">
                    <div class="col-md-12">
                        <div class="form-action-area">
                            <button (click)="onClose()" class="gray-btn" mat-raised-button>Cancel</button>
                            <button class="blue-btn service-trigger"
                                    mat-raised-button>{{saveBtnText}}</button>
                        </div>
                    </div>
                </div>
                <!--                </form >-->
            </div>
        </div>
    </ng-template>
</div>


<ng-template #assignUnassign>
    <div class="dialog-container">
        <div class="mat-card-header">
            <mat-icon (click)="onClose()">close</mat-icon>
            <h4 class="content-span full-width">Assign - unassign agent(s) </h4>
        </div>
        <div class="dialog-content pl-4 pr-4">
            <div class="assign-unassign-main row m-0">
                <div class="assign-unassign-data secondary-list p-0">
                    <h4>Secondary Supervisors</h4>

                    <div class="selected-team-supervisor assign-data-area">
<!--                        <div class="pl-2 pr-2">-->
<!--                            <label>Primary</label>-->
<!--                            <mat-form-field appearance="outline" class="w-100">-->
<!--                                <mat-select [(value)]="selected">-->
<!--                                    <ng-container *ngFor="let supervisor of supervisors">-->
<!--                                        <mat-option [value]="supervisor.value">{{supervisor.viewValue}}</mat-option>-->
<!--                                    </ng-container>-->
<!--                                </mat-select>-->
<!--                            </mat-form-field>-->
<!--                        </div>-->

                        <div class="selected-secondary-area p-2">
<!--                            <label>Secondary</label>-->
                            <input [(ngModel)]="searchSecondary" class="search-field" placeholder="Search" type="text">

                            <ul>
                                <ng-container *ngFor="let secondary of secondarySupervisorInTeam | filter:searchSecondary; let i = index">
                                <li (click)="selectedSecondary(secondary.secondarySupervisor)"
                                    [ngClass]="{'selected-secondary': secondary.secondarySupervisor == SelectedSecondarySupervisorInTeam }">
                                    <span>{{secondary.secondarySupervisor}}</span><span>{{secondary.assignAgents}}</span>

                                </li>
                                </ng-container>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="assign-unassign-data select-agents ml-3">
                    <h4>Assigned to <span class="selected-secondary-agent">‘{{SelectedSecondarySupervisorInTeam}}’</span></h4>
                    <div class="assigned-agents assign-data-area pt-0">
                        <div class="assigned-table">
                            <div class="search-area">
                                <input [(ngModel)]="searchTerm" class="search-field" placeholder="Search" type="text">
                            </div>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="select-check" scope="col">
                                        <mat-checkbox (change)="checkUncheckAll('avail-agents')" [(ngModel)]="masterSelected2" type="checkbox"></mat-checkbox>
                                    </th>
<!--                                    <th scope="col">User ID</th>-->
                                    <th scope="col">User Name</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let data of teamData | filter:searchTerm">
                                    <td class="select-check">
                                        <mat-checkbox (change)="isAllSelected('avail-agents')" [(ngModel)]="data.isSelected" name="list_name" type="checkbox" value="{{data.id}}"></mat-checkbox>
                                    </td>
<!--                                    <td>{{data.id}}</td>-->
                                    <td>{{data.userName}}</td>
                                    <td>{{data.firstName}}</td>
                                    <td>{{data.lastName}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <span class="table-legend">Unassign Agents <mat-icon>navigate_next</mat-icon></span>
                    </div>

                </div>
                <div class="assign-unassign-data select-agents ml-3">
                    <h4>Available Agents <span class="available-agents">(345)</span></h4>
                    <div class="assigned-agents assign-data-area pt-0">
                        <div class="assigned-table">
                            <div class="search-area">
                                <input [(ngModel)]="searchTerm" class="search-field" placeholder="Search" type="text">
                            </div>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="select-check" scope="col">
                                        <mat-checkbox (change)="checkUncheckAll('unavail-agents')" [(ngModel)]="masterSelected" type="checkbox"></mat-checkbox>
                                    </th>
<!--                                    <th scope="col">User ID</th>-->
                                    <th scope="col">User Name</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr *ngFor="let data of availabeAgentsLis | filter:searchTerm">
                                    <td class="select-check">
                                        <mat-checkbox (change)="isAllSelected('unavail-agents')" [(ngModel)]="data.isSelected" name="list_name" type="checkbox" value="{{data.id}}"></mat-checkbox>
                                    </td>
<!--                                    <td>{{data.id}}</td>-->
                                    <td>{{data.userName}}</td>
                                    <td>{{data.firstName}}</td>
                                    <td>{{data.lastName}}</td>
                                </tr>
<!--                                <tr *ngFor="let data of availabeAgentsLis | filter:searchTerm">-->
<!--                                    <td class="select-check">-->
<!--                                        <mat-checkbox (change)="isAllSelected('avail-agents')" [(ngModel)]="data.isSelected" name="list_name" type="checkbox" value="{{data.id}}"></mat-checkbox>-->
<!--                                    </td>-->
<!--&lt;!&ndash;                                    <td>{{data.id}}</td>&ndash;&gt;-->
<!--                                    <td>{{data.userName}}</td>-->
<!--                                    <td>{{data.firstName}}</td>-->
<!--                                    <td>{{data.lastName}}</td>-->
<!--                                </tr>-->
                                </tbody>
                            </table>
                        </div>
                        <span class="table-legend pr-3"><mat-icon>navigate_before</mat-icon> Assign Agents</span>
                    </div>
                </div>
            </div>
            <div class="action-area assign-data-action">
                <button mat-raised-button class="gray-btn" [mat-dialog-close]="true">Cancel</button>
                <button mat-raised-button class="blue-btn service-trigger">Save</button>
            </div>
        </div>
    </div>
</ng-template>


<!--Available Agents list-->

<ng-template #agentsList>
    <div class="dialog-container agent-list">
        <div class="mat-card-header">
            <mat-icon (click)="dialog.closeAll()">close</mat-icon>
            <h4 class="content-span full-width">Agents (76)</h4>
        </div>
        <div class="dialog-content p-3">
            <div class="routing-table">
                <div class="search-area">
                    <input [(ngModel)]="searchTerm" class="search-field" placeholder="Search" type="text">
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">User name</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data of availabeAgentsLis  | filter:searchTerm">
                        <td>{{data.userName}}</td>
                        <td>{{data.firstName}}</td>
                        <td>{{data.lastName}}</td>

                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</ng-template>
