
.mrd-toggle {
  mat-slide-toggle {
    // float: right;
    position: relative;
    top: 5px;
    padding-left: 10px;
  }
}

.form-group.mrd-toggle.mrd-padding-btn {
  padding: 5px 0px 0px 0px !important;
}

.routing-content {
  .routing-table {
    //padding: 0px 25px;

    .table {
      background: #ffffff;

      tr {
        position: relative;
        border: 1px solid #e2e2e2;
      }
    }
    td {

      text-overflow: ellipsis;
      width: 33.33%;
      max-width: 0px;
      white-space: nowrap;
    }
    tr {
      &:hover {
        background: #f3f6f8;

        .table-trigger {
          span {
            display: inline-block;
            transition: all 0.3s;
          }
        }
      }
    }
  }
}

.table-trigger {
  mat-slide-toggle {
    position: relative !important;
    top: 7px !important;
  }

  button {
    box-shadow: none;
    span {
      font-size: 12px;
    }

    height: 23px;
    margin: 0 5px;
    width: 23px;
    line-height: 23px;
    background: #919191;

    &:hover {
      background: #a9a9a9;
    }

    .mat-button-wrapper {
      padding: 0;
    }
  }

  .list-trigger-area {
    display: none;
    float: right;
  }

  .group-set-main {
    position: relative;
    top: 10px;
    margin-right: 10px;

    .group-set {
      border: 0;

      label {
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}

.no-data-warning {
  position: absolute;
  left: 45%;
  padding-top: 10px;

  i {
    font-size: 40px;
    color: #777777;
  }
  span {
    display: block;
    padding: 0;
    font-size: 12px;
    color: #777777;
    top: -5px;
    left: -15px;
    position: relative;
  }
}
