<header class="header">
  <div class="logo-container">
    <a routerLink="/" class="logo">
      <img src="assets/images/expertflow-logo.png" height="35" alt="Wall Board Admin">
    </a>
  
    <div class="topbar-right right float-right">
      <!-- <p>{{today | date:'MMM d, y' }} &nbsp;| &nbsp;{{ today | date:'EEEE'}}&nbsp; |
        &nbsp;{{ today | date:'h: m a'}}</p> -->
      <ul class="notification-area">
  
        <!-- <li class="multi-language">
          <button mat-button [matMenuTriggerFor]="languageSelection" class="language-trigger">
            <img src="{{languageFlag}}" width="20">{{language}} <i class="material-icons">
              arrow_drop_down
            </i></button>
          <mat-menu #languageSelection="matMenu">

            <button *ngFor="let language of languages" mat-menu-item
              (click)="lang(language);defLang(language.code)"><img src="{{language.image}}"
                width="20">{{language.name}}</button>
          </mat-menu>
        </li> -->



        <li class="app-btn">

          <button  mat-icon-button [matMenuTriggerFor]="moreOption">
            <mat-icon>apps</mat-icon>
          </button>
          <mat-menu #moreOption="matMenu" xPosition="before">
            <button mat-menu-item>Wallboard</button>
            <button mat-menu-item>KeyCloak</button>
          </mat-menu>

        </li>

        <li>
          <button class="user-btn" mat-icon-button>
            <img class="agentPic" src="assets/images/avatars/profile.jpg">
            <span class="user-name">{{userName ? userName :'N/A'}}</span>
            <!-- <i class="material-icons">
              keyboard_arrow_down
            </i> -->
          </button>
          <!-- <mat-menu #profile="matMenu" xPosition="before">
            <button mat-menu-item (click)="logout()">Log Out</button>
          </mat-menu> -->
        </li>
        <li >
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="log_out">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu class="logout-menu" #menu="matMenu">
            <button (click)="logout()" mat-menu-item>
              <img src="assets/images/log-out.png" alt="Log_Out">
              <span>Log Out</span>
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </div>
</header>