@import "~src/assets/themes/blue-theme";

.service-trigger {
  background: $blue-text-color;
  color: #ffffff;
  height: 35px;
  line-height: 35px;
  width: 90px;
}

.key-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  // mat-form-field-flex {
  // height: 40px !important;
  // }

  .key-btn {
    display: inline-block;
    position: relative;
    top: 3px;
    margin: 0px 0px 0px 10px;
  }

  // .form-error {
  //   font-size: 11px;
  //   // padding: 0 !important;
  // }
}

mat-error {
  span {
    font-size: 11px;
  } // padding: 0 !important;
}

.panel-page-content {
  //padding: 30px 45px 0px 45px;

  p {
    color: #8b8b8b;
  }
}

.select-file-button {
  top: -6px;
  right: -10px;
  box-shadow: none;
  text-align: right;
  i.material-icons {
    font-size: 22px;
  }
}
