<div class="container main-custom-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel-body">
        <div class="sub-heading">
          <h2>Security Settings</h2>
        </div>
        <div class="sub-heading-content">
          <form class="form-horizontal form-bordered" [formGroup]="securitySettingForm">
            <div class="form-group col-md-5">
              <mat-label>Certificate Path<span class="required">*</span></mat-label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="certificatePath">
                <mat-error class="form-error">
                  {{formErrors.certificatePath}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-5">
              <mat-label>Certificate Key Path<span class="required">*</span></mat-label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="certificateKeyPath">
                <mat-error class="form-error">
                  {{formErrors.certificateKeyPath}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-5">
              <mat-label>SSL<span class="required">*</span></mat-label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="ssl">
                <mat-error class="form-error">
                  {{formErrors.ssl}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-5">
              <mat-label>Certficate Bundle Path<span class="required">*</span></mat-label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="certificateBundlePath">
                <mat-error class="form-error">
                  {{formErrors.certificateBundlePath}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-5">
              <mat-label>Private Key<span class="required">*</span></mat-label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="privateKey">
                <mat-error class="form-error">
                  {{formErrors.privateKey}}
                </mat-error>
              </mat-form-field>
            </div>

            <div class="action-area padding-btn">
              <button mat-raised-button class="blue-btn service-trigger" (click)="onSave()">Save</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
