@import "~src/assets/themes/blue-theme";


.service-trigger {
  background: $blue-text-color;
  color: #ffffff;
}

.pull-mode-content {

  .pull-mode-list {
    //padding: 0px 25px;

    .top-heading {
      //padding: 10px 0px;
      li {
        font-weight: 700;
        color: #686868;
      }
    }

    .list-heading-section {
      display: flex;
      flex-direction: row;

      li {
        list-style: none;
        flex-grow: 1;
        width: 50%;
        padding: 0 15px;
        align-self: center;

        &:first-child {
          padding-left: 15px !important;
        }
      }
    }

    .pull-mode-data {
      display: flex;
      flex-direction: row;
      border: 1px solid #e2e2e2;
      border-top: none;

      .group-name {
        display: inline-block;
        padding: 0 15px;
        margin: 0;
        font-size: 13px;
        line-height: 40px;
        height: 40px;
        flex-grow: 1;
        color: #686868;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 33.33%;
        max-width: calc(100% - 90px);
      }

      .list-trigger-area {
        display: none;
          right: 40px;
          transition: all 0.3s;
        z-index: 2;
        position: absolute;

      }

      &:hover {
        .list-trigger-area {
          display: inline-block;
        }
      }
    }
  }
}

.no-data-warning {
  position: absolute;
  left: 45%;
  padding-top: 10px;
  i {
    font-size: 40px;
    color: #777777;
  }
  span {
    display: block;
    padding: 0;
    font-size: 12px;
    color: #777777;
    top: -5px;
    left: -15px;
    position: relative;
  }
}
