.service-trigger {
  background: #25AFCB;
  color: #ffffff;
  height: 30px;
  line-height: 30px;
  position: relative;
  top: 20px;
  width: 90px;
}

.select-file-button{
  padding: 0px 7px 0px 7px;
    position: relative;
    top: -3px;
    right: -9px;
    background: #f9f9f9;
    color: #717171;
    box-shadow: none;
    border-left: 1px solid #C2C2C2;
    height: 36px;
    line-height: 36px;
}
