.service-trigger {
  background: #25afcb;
  color: #ffffff;
  height: 30px;
  line-height: 30px;
  position: relative;
  top: 20px;
  width: 90px;
}

.select-file-button {
  padding: 0px 7px 0px 7px;
  position: relative;
  top: -3px;
  right: -9px;
  background: #f9f9f9;
  color: #717171;
  box-shadow: none;
  border-left: 1px solid #c2c2c2;
  height: 39px;
  line-height: 39px;
}

.component-logo {
  display: flex;
  flex-wrap: wrap;
  span {
    position: absolute;
    top: 45px;
    color: #717171;
    font-size: 11px;
  }
}
