@import "~src/assets/themes/blue-theme";

.service-trigger {
  background: $blue-text-color;
  color: #ffffff;
}

.reason-code-content {


  .reason-code-list {

    .reason-code-labels {
      display: flex;
      flex-direction: row;

      li {
        list-style: none;
        flex-grow: 1;
        width: 33.33%;
        //padding: 10px 15px;

        &:first-child {
          padding-left: 15px !important;
        }
      }
    }

    .reason-code-data {
      display: flex;
      flex-direction: row;
      border: 1px solid #e2e2e2;
      border-top: none;

      .group-name {
        display: inline-block;
        padding: 0 15px;
        margin: 0;
        font-size: 13px;
        line-height: 40px;
        height: 40px;
        flex-grow: 1;
        color: #686868;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 33.33%;
        max-width: calc(100% - 90px);

        .reason-type-style {
          color: #1d1d1d;
          border-radius: 10px;
          font-size: 12px;
          padding: 2px 10px;
        }
      }

      .list-trigger-area {
        display: none;
        transition: all 0.3s;
        z-index: 2;
        position: absolute;
        right: 40px;

      }

      &:hover {
        .list-trigger-area {
          display: inline-block;
        }
      }
    }
  }
}

.no-data-warning {
  position: absolute;
  left: 45%;
  padding-top: 10px;
  i {
    font-size: 40px;
    color: #777777;
  }
  span {
    display: block;
    padding: 0;
    font-size: 12px;
    color: #777777;
    top: -5px;
    left: -15px;
    position: relative;
  }
}
