<div class="loading-area" *ngIf="spinner">
    <mat-spinner></mat-spinner>
</div>
<div class="container main-custom-container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-body">
                <div class="sub-heading">
                    <h2>Reason Codes</h2>
                </div>
                <div class="routing-content">
                    <div class="filter-section">
                        <div class="form-group search-field">
                            <mat-form-field appearance="outline">
                                <input matInput [(ngModel)]="searchTerm" placeholder="Search">
                                <mat-icon>search</mat-icon>
                            </mat-form-field>
                        </div>

                        <button mat-flat-button (click)="openModal(reasonCodeForm)">
                            <mat-icon>add</mat-icon>
                            Create Reason Code
                        </button>
                    </div>

                    <div class="routing-accordion pq-accordion">

                        <ul class="top-heading routing-group-list">
                            <li>Label</li>
                            <li>Description</li>
                            <li>Type</li>
                            
                        </ul>
                        <ng-container *ngIf="reasonCodeData && reasonCodeData.length != 0">
                            <div class="reason-code-data" *ngFor="let data of reasonCodeData | searchFilter:searchTerm | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
                                <p class="group-name">{{data?.label ? data.label : 'N/A'}}</p>
                                <p class="group-name">{{data?.description ? data.description : 'N/A'}}</p>
                                <p class="group-name">{{data?.type ? data?.type : 'N/A'}}</p>
                                <div class="table-trigger">
                                    <span class="list-trigger-area">
                                        <button mat-mini-fab matTooltip="Edit"
                                            (click)="editReasonCode(reasonCodeForm,data)">
                                            <mat-icon>mode_edit</mat-icon>
                                        </button>
                                        <button matTooltip="Delete" (click)="deleteConfirm(data)" mat-mini-fab>
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </ng-container>


                        <div *ngIf="reasonCodeData && reasonCodeData.length == 0" class="no-data-warning">
                            <i class="material-icons">warning_amber</i>
                            <span>No Data Found</span>
                        </div>

                        <div *ngIf="reasonCodeData && reasonCodeData.length > 5" class="pagination-section">
                            <span class="page-span">
                                <span>Entries Per Page</span>
                                <select (change)="selectPage()" [(ngModel)]="selectedItem">
                                    <option *ngFor="let item of itemsPerPageList" [value]="item">{{ item }}
                                    </option>
                                </select>
                            </span>
                            <pagination-controls (pageBoundsCorrection)="pageBoundChange($event)"
                                (pageChange)="p = $event;pageChange($event)" previousLabel="" nextLabel="">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #reasonCodeForm>
        <div class="dialog-container">
            <div class="mat-card-header">
                <mat-icon (click)="onClose()">close</mat-icon>
                <h4 class="content-span full-width">{{formHeading}}</h4>
            </div>
            <div class="dialog-content">
                <form class="form-horizontal form-bordered queue-arrow" [formGroup]="reasonForm">
                    <div class="form-group">
                        <mat-label>Label</mat-label>
                        <mat-form-field appearance="outline">
                            <input matInput formControlName="label">
                            <mat-error class="form-error">
                                {{formErrors?.name}}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-label>Type</mat-label>
                        <mat-form-field appearance="outline">
                            <mat-select formControlName="type">
                                <mat-option *ngFor="let val of reasonType" [value]="val">{{val |
                                    removeUnderscoreFilter}}
                                </mat-option>
                            </mat-select>
                            <mat-error class="form-error">
                                {{formErrors?.type}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-label>Description</mat-label>
                        <mat-form-field appearance="outline">
                            <textarea type="text" matInput formControlName="description"></textarea>
                            <mat-error class="form-error">
                                {{formErrors?.description}}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="template-action row">
                        <div class="col-md-12">
                            <div class="form-action-area">
                                <button mat-raised-button [mat-dialog-close]="true" class="gray-btn">Cancel</button>
                                <button mat-raised-button [disabled]="!queueForm.valid" (click)="onSave()"
                                    [mat-dialog-close]="save" class="blue-btn service-trigger">{{saveBtnText}}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ng-template>