{
  "ADMIN_URL":"${ADMIN_URL}",
  "MRE_URL":"${MRE_URL}",
  "BUSINESS_USER_ROLES": ${BUSINESS_USER_ROLES},
  "CCM_URL": "${CCM_URL}",
  "BOT_URL":"${BOT_URL}",
  "LICENSE_MANAGER_URL":"${LICENSE_MANAGER_URL}"
}
