<div class="loading-area" *ngIf="spinner">
  <mat-spinner></mat-spinner>
</div>
<div class="container main-custom-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel-body">
        <div class="sub-heading">
          <h2>{{pageTitle}}</h2>
        </div>
        <div *ngIf="!addChannelBool" class="panel-page-content">
          <div class="channel-accordion">
            <mat-accordion>
              <mat-expansion-panel *ngFor="let type of channelTypes" (opened)="panelOpenCallback(type)"
                hideToggle="true" #arrow>
                <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight"
                  [expandedHeight]="customExpandedHeight">
                  <mat-panel-title>
                    <img [src]="transform(type?.channelLogo)">
                    <span>{{type?.typeName ? type?.typeName : 'N/A'}}</span>
                  </mat-panel-title>
                  <mat-panel-description>
                    <mat-icon *ngIf="arrow.expanded">arrow_drop_up</mat-icon>
                    <mat-icon *ngIf="!arrow.expanded">arrow_drop_down</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <div *ngIf="channelConnectors && channelConnectors.length  == 0" class="no-data-warning">
                  <i class="material-icons">warning_amber</i>
                  <span>No Data Found</span>
                </div>

                <table class="channel-table" *ngIf="channelConnectors && channelConnectors.length > 0">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Interface</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let connector of channelConnectors">
                      <td scope="row">{{connector?.channelConnectorName ? connector?.channelConnectorName : 'N/A'}}
                      </td>
                      <td>{{connector?.channelConnectorInterface ? connector?.channelConnectorInterface : 'N/A'}}</td>
                      <td class="list-action-area">
                        <!-- [ngStyle]="{'color':connector?.status == 'healthy' ? '#2DD393' : '#CE0000' }" -->
                        <i [ngStyle]="connector?.status == 'healthy' && { 'color':'#2DD393' } || connector?.status == 'unhealthy' && { 'color':'#CE0000' }"
                          class="icon-position material-icons">{{connector?.status ?
                          (connector.status == 'healthy' ? 'done' : 'clear' ) : 'hourglass_empty'}}</i>

                        <span class="list-actions">
                          <button matTooltip="Edit" (click)="editChannelConnector(connector)" mat-mini-fab>
                            <mat-icon>mode_edit</mat-icon>
                          </button>
                          <button matTooltip="Delete" (click)="deleteConfirm(connector)" mat-mini-fab>
                            <mat-icon>delete</mat-icon>
                          </button>
                        </span>
                      </td>
                    </tr>

                  </tbody>
                </table>
                <button class="add-channel-btn" mat-flat-button (click)="changeViewToSetings(type)">
                  Add New Connector
                </button>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="addChannelBool">
    <app-channel-connector-settings [parentChannelBool]="addChannelBool" [channelTypeData]="channelType"
      [connectorData]="editConnectorData" (formCancelEvent)='resetUI()'
      (formSaveData)='onSave($event)'>
    </app-channel-connector-settings>
  </ng-container>