<div class="loading-area" *ngIf="spinner">
  <mat-spinner></mat-spinner>
</div>
<div class="container main-custom-container">
  <div class="row">
    <div class="col-sm-12 p-0">
      <div class="panel-body">
        <div class="sub-heading">
          <h2>{{pageTitle}}</h2>
        </div>
        <div *ngIf="!addChannelBool" class="panel-page-content">
          <div class="filter-section">
            <div class="form-group search-field">
              <mat-form-field appearance="outline">
                <input matInput [(ngModel)]="searchTerm" placeholder="Search">
                <mat-icon>search</mat-icon>
              </mat-form-field>
            </div>

            <button *ngIf="managePermission" mat-flat-button (click)="changeViewToSetings()">
              <mat-icon>add</mat-icon>
              Create Connector
            </button>
          </div>


          <div class="connector-list">
            <ul class="top-heading list-heading-section">
              <li>Name</li>
              <li>Channel Provider</li>
            </ul>
            <ng-container *ngIf="channelConnectors && channelConnectors.length != 0">
              <div class="connector-data"
                *ngFor="let data of channelConnectors | filter:searchTerm | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
                <span class="group-name">{{data?.name ? data.name : 'N/A'}}</span>
                <span class="group-name">
                  {{data?.channelProviderInterface?.name ? data.channelProviderInterface?.name :'N/A'}}
                  <span *ngIf="managePermission" class="list-trigger-area">
                    <button mat-mini-fab matTooltip="Edit" (click)="editChannelConnector(data)">
                      <mat-icon>mode_edit</mat-icon>
                    </button>
                    <button matTooltip="Delete" (click)="deleteConfirm(data)" mat-mini-fab>
                      <mat-icon>delete</mat-icon>
                    </button>
                  </span>
                </span>

              </div>
            </ng-container>


            <div *ngIf="channelConnectors && channelConnectors.length == 0" class="no-data-warning">
              <i class="material-icons">warning_amber</i>
              <span>No Data Found</span>
            </div>

            <div *ngIf="channelConnectors && channelConnectors.length >= 5" class="pagination-section">
              <span class="page-span">
                <span>Entries Per Page</span>
                <select (change)="selectPage()" [(ngModel)]="selectedItem">
                  <option *ngFor="let item of itemsPerPageList" [value]="item">{{ item }}
                  </option>
                </select>
              </span>
              <pagination-controls (pageBoundsCorrection)="pageBoundChange($event)"
                (pageChange)="p = $event;pageChange($event)" previousLabel="" nextLabel="">
              </pagination-controls>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="addChannelBool">
    <app-channel-connector-settings [parentChannelBool]="addChannelBool" [connectorData]="editConnectorData"
      (formCancelEvent)='resetUI()' (formSaveData)='onSave($event)'>
    </app-channel-connector-settings>
  </ng-container>