

.main-nav {
  background-color: #ffffff;
  z-index: 1000;
  float: right;
  height: 50px;
  padding: 8px 10px;
  box-shadow: 1px 1px 2px #ccc;
}
.main-page-area {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
}



mat-sidenav-container.main-sidebar {
  //width: 100%;
  //height: calc(100% - 55px);
  //position: absolute;
  //top: 55px;
  //left: 0;

  //for WallBoard only

  width: 100%;
  height: calc(100% - 50px);
  position: absolute;
  top: 50px;
  left: 0;
  // padding: 15px 0;

  &.secondary-sidebar{
    top: 0;
  }
  //./for WallBoard only

  //&.expand{
  //
  //  mat-sidenav.mat-drawer {
  //    width: 0;
  //  }
  //
  //  .mat-drawer-content{
  //    margin-left: 0 !important;
  //    margin-right: 0 !important;
  //    //transition: all .3s;
  //  }
  //
  //}

  mat-sidenav {
    box-shadow: none;
  }


  .mat-list-item-content{
    padding-left: 25px !important;
  }

  &.mat-drawer-opened{
    position: absolute;
    width: 100%;
    //transition: all .3s;
    left: 0;


    //&.collapse{
    //
    //  mat-sidenav.mat-drawer {
    //    width: 230px;
    //
    //    .sidebar-text{
    //      display: inline-block;
    //    }
    //  }
    //  .mat-drawer-content{
    //    margin-left: 230px !important;
    //    margin-right: 0 !important;
    //    //transition: all .3s;
    //  }
    //
    //}
    //&.expand{
    //
    //  mat-sidenav.mat-drawer {
    //    width: 230px;
    //
    //    .sidebar-text{
    //      display: none;
    //    }
    //  }
    //  .mat-drawer-content{
    //    margin-left: 65px !important;
    //    margin-right: 0 !important;
    //    //transition: all .3s;
    //  }
    //
    //}
  }

  mat-sidenav.mat-drawer {
    // width: 250px;
    width: 208px;
    overflow: hidden !important;
    background: #F3F6F8;
    color: #ffffff;

    //.mat-list-item{
    //  border-bottom: 1px solid #ffffff;
    //}
  }


  .main-outlet {
    position: relative;
    //height: 100%;
    padding: 15px 0;
  }
  .mat-drawer-content{
    //margin-left: 65px;
  }

  .mat-expansion-panel-header-title {
    i{
      position: relative;
      top: 2px;
    }
  }
}

.menu-trigger{
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  box-shadow: none;
  background: #F3F6F8;
  border-radius: 0;
  outline: none;
  color: #939393;
  width: 66px;
}

.mat-nav-list {
  i {
    display: inline-block;
    margin-right: 0;
    width: 25px;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    text-align: center;
    color: #939393;
  }
  span.sidebar-text {
    margin-left: 6px;
  }
}
a.bottom-trigger{
  position: absolute;
  bottom: 0;
}

.logo-container {

  &.bottom-logo img {
    width: auto;
    height: 25px;
  }
}

.custom-theme{
  .main-nav{
    background: rgba(0,0,0,0.50);
  }
  .menu-trigger{
    background: rgba(0,0,0,0.36);

  }
}


button.menu-trigger.right-btn.mat-raised-button {
  float: right;
  position: absolute;
  right: 0;
  left: inherit;
}


.mat-list-option:hover, .mat-list-option:focus, .mat-nav-list .mat-list-item:hover, .mat-nav-list .mat-list-item:focus, .mat-action-list .mat-list-item:hover, .mat-action-list .mat-list-item:focus {
  background: #EBEBEB;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']).cdk-keyboard-focused, .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']).cdk-program-focused, .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']):hover {
  background: #EBEBEB;
}
