<div class="loading-area" *ngIf="spinner">
  <mat-spinner></mat-spinner>
</div>
<div class="panel-page-content">
  <form class="form-horizontal form-bordered" [formGroup]="channelSettingForm">
    <div class="col-md-5">
      <div class="form-group">
        <mat-label>Bot ID</mat-label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="botId">
          <mat-error class="form-error">
            <!-- {{formErrors.amqUrl}} -->
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-label>Channel Connector</mat-label>
        <mat-form-field appearance="outline">
          <mat-select formControlName="channelConnector">
            <mat-option>Connector1</mat-option>
          </mat-select>
          <mat-error class="form-error">
            <!-- {{formErrors.amqHost}} -->
          </mat-error>
        </mat-form-field>
      </div>


      <div class="form-group">
        <mat-label>Channel Name</mat-label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="channelName">
          <mat-error class="form-error">
            <!-- {{formErrors.amqUser}} -->
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-label>Channel Mode</mat-label>
        <mat-form-field appearance="outline">
          <mat-select formControlName="channelMode">
            <mat-option *ngFor="let mode of modeVal" [value]="mode">{{mode | uppercase}}
            </mat-option>
          </mat-select>
          <mat-error class="form-error">
            <!-- {{formErrors.amqHost}} -->
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-label>Customer Activity Timeout</mat-label>
        <mat-form-field appearance="outline">
          <input type="number" matInput formControlName="customerActivityTimeout">
          <mat-error class="form-error">
            <!-- {{formErrors.amqPort}} -->
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-label>Response SLA</mat-label>
        <mat-form-field appearance="outline">
          <input type="number" matInput formControlName="responseSLA">
          <mat-error class="form-error">
            <!-- {{formErrors.amqHost}} -->
          </mat-error>
        </mat-form-field>
      </div>

      <!-- <div class="form-group">
        <mat-label>Routing Policy</mat-label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="routingPolicy">
          <mat-error class="form-error">
            {{formErrors.amqUrl}}
          </mat-error>
        </mat-form-field>
      </div> -->

      <div class="form-group password-privacy-icon">
        <mat-label>Service Identifier</mat-label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="serviceIdentifier">
          <mat-error class="form-error">
            <!-- {{formErrors.amqPwd}} -->
          </mat-error>
        </mat-form-field>
      </div>

    </div>
    <div class="action-area btn-margin col-md-5">
      <button mat-raised-button (click)="onClose()" class="gray-btn">Cancel</button>
      <button [disabled]="!channelSettingForm.valid" mat-raised-button class="blue-btn service-trigger"
        (click)="onSave()">Save</button>
    </div>

  </form>
</div>