@import "~src/assets/themes/blue-theme";

.service-trigger {
  background: $blue-text-color;
  color: #ffffff;
  height: 30px;
  line-height: 30px;
  width: 90px;
}

button {
  color: #ffffff;
  margin-left: 10px;
  height: 30px;
  line-height: 30px;
  width: 90px;

  //&.gray-btn {
  //  background: #919191;
  //}
}

.btn-margin {
  margin: 15px 0px;
}
