<div class="loading-area" *ngIf="spinner">
  <mat-spinner></mat-spinner>
</div>
<div class="container main-custom-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel-body">
        <div class="sub-heading">
          <h2>Precision Queue Setting</h2>
        </div>
        <div class="routing-content">
          <div class="filter-section">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <input matInput [(ngModel)]="searchTerm" placeholder="Search">
                <mat-icon>search</mat-icon>
              </mat-form-field>
            </div>

            <button mat-flat-button (click)="openModal(newQueue)">
              <mat-icon>add</mat-icon>
              Create Queue
            </button>
          </div>

          <div class="routing-accordion">
            <mat-accordion>
              <ul class="top-heading routing-group-list">
                <li>Name</li>
                <li>Agent Criteria</li>
                <li>Associated MRD</li>
              </ul>
              <ng-container>
                <mat-expansion-panel
                  *ngFor="let data of queueData | searchFilter:searchTerm | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
                  <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight"
                    [expandedHeight]="customExpandedHeight">
                    <mat-panel-title>
                      <p class="group-name">{{data.Name? data.Name : 'N/A'}}</p>
                    </mat-panel-title>
                    <mat-panel-title>
                      <p class="group-name">{{data.AgentSelectionCriteria ? data.AgentSelectionCriteria : 'N/A'}}</p>
                    </mat-panel-title>
                    <mat-panel-title>
                      <p class="group-name">{{data.mrd.Name? data.mrd.Name : 'N/A'}}</p>
                      <div class="table-trigger">
                        <span class="list-trigger-area">
                          <button mat-mini-fab matTooltip="Edit" (click)="editQueue(newQueue,data)"><i
                              class="fa fa-pencil" aria-hidden="true"></i>
                          </button>
                          <button matTooltip="Delete" (click)="deleteConfirm(data)" mat-mini-fab><i
                              class="fa fa-trash-o" aria-hidden="true"></i>
                          </button>
                        </span>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="manage-step">
                    <p>{{ data.Steps?.length > 0 ? 'Steps' : 'No Steps Added'}}</p>
                    <div *ngIf="data.Steps?.length > 0" class="routing-table">
                      <table class="table">
                        <thead>
                          <tr>
                            <!-- <th scope="col">Name</th> -->
                            <th scope="col">Criteria</th>
                            <th scope="col">Timeout(sec)</th>
                          </tr>
                        </thead>
                        <!-- <tbody>
                          <ng-container>
                            <tr *ngFor="let data of queueData">
                              <td scope="row">{{data.Name ? data.name : 'N/A'}}</td>
                              <td>{{data.Name ? data.Name :'N/A'}}</td>
                              <td>{{data.Name ? data.Name : 'N/A'}}</td>
                              <td class="table-trigger">{{data.value ? data.value : 'N/A'}}
                                <span class="list-trigger-area">
                                  <button matTooltip="Edit" (click)="editStep(data)" mat-mini-fab><i
                                      class="fa fa-pencil" aria-hidden="true"></i>
                                  </button>
                                  <button matTooltip="Delete" (click)="deleteStep(data)" mat-mini-fab><i
                                      class="fa fa-trash-o" aria-hidden="true"></i>
                                  </button>
                                </span>
                              </td>
                            </tr>
                          </ng-container>
                        </tbody> -->
                      </table>
                    </div>
                    <div class="step-section">
                      <button mat-flat-button (click)="openStepModal(stepFormTemplate)">
                        Add Step
                      </button>
                    </div>
                  </div>
                </mat-expansion-panel>
              </ng-container>
            </mat-accordion>
            <div class="pagination-section">
              <span class="page-span">
                <span>Entries Per Page</span>
                <select (change)="selectPage()" [(ngModel)]="selectedItem">
                  <option *ngFor="let item of itemsPerPageList" [value]="item">{{ item }}
                  </option>
                </select>
              </span>
              <pagination-controls (pageBoundsCorrection)="pageBoundChange($event)"
                (pageChange)="p = $event;pageChange($event)" previousLabel="" nextLabel="">
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #newQueue>
    <div class="dialog-container">
      <div class="mat-card-header">
        <mat-icon (click)="onClose()">close</mat-icon>
        <h4 class="content-span full-width">{{formHeading}}</h4>
      </div>
      <div class="dialog-content">
        <form class="form-horizontal form-bordered queue-arrow" [formGroup]="queueForm">
          <div class="form-group">
            <mat-label>Name</mat-label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="name">
              <mat-error class="form-error">
                {{formErrors.name}}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-label>Service Level Type</mat-label>
            <mat-form-field appearance="outline">
              <mat-select formControlName="serviceLevelType">
                <mat-option *ngFor="let type of serviceLevelType" [value]="type">{{type | titlecase}}
                </mat-option>
              </mat-select>
              <mat-error class="form-error">
                {{formErrors.serviceLevelType}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-label>Service Level Threshold</mat-label>
            <mat-form-field appearance="outline">
              <input type="number" min="1" max="10" matInput formControlName="serviceLevelThreshold">
              <mat-error class="form-error">
                {{formErrors.serviceLevelThreshold}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-label>Associated MRD</mat-label>
            <mat-form-field appearance="outline">
              <mat-select formControlName="associatedMrd">
                <mat-option *ngFor="let mrd of mrdData" [value]="mrd">{{mrd.Name | titlecase}}
                </mat-option>
              </mat-select>
              <mat-error class="form-error">
                {{formErrors.associatedMrd}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-label>Agent Selection Criteria</mat-label>
            <mat-form-field appearance="outline">
              <mat-select formControlName="agentCriteria">
                <mat-option *ngFor="let criteria of agentCriteria" [value]="criteria">{{criteria | titlecase}}
                </mat-option>
              </mat-select>
              <mat-error class="form-error">
                {{formErrors.agentCriteria}}
              </mat-error>
            </mat-form-field>
          </div>


          <div class="template-action row">
            <div class="col-md-12">
              <div class="form-action-area">
                <button mat-raised-button (click)="onClose()" class="gray-btn">Cancel</button>
                <button mat-raised-button [disabled]="!queueForm.valid" (click)="onSave()" [mat-dialog-close]="true"
                  class="blue-btn service-trigger">{{saveBtnText}} Queue</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ng-template>


  <ng-template #stepFormTemplate>
    <div class="step-dialog-container">
      <div class="mat-card-header">
        <mat-icon (click)="onClose()">close</mat-icon>
        <h4 class="content-span full-width">{{stepFormHeading}}</h4>
      </div>
      <div class="dialog-content">
        <form class="form-horizontal form-bordered queue-arrow" [formGroup]="stepForm">

          <div class="timeout-info">
            <div class="form-group col-md-5">
              <mat-label>Step Timeout</mat-label>
              <mat-form-field appearance="outline">
                <input type="number" min="0" matInput formControlName="timeout">
                <!-- <mat-error class="form-error">
                  {{formErrors.timeout}}
                </mat-error> -->
              </mat-form-field>
            </div>
            <div class="form-group col-md-4">
              <span class="msg-span">(sec)</span>
            </div>
          </div>

          <div class="expression-section">
            <div class="heading-section">
              <mat-label>Expression</mat-label>
              <button mat-flat-button>
                Add Expression
              </button>
            </div>
            <div class="expression-content">
              <div class="expression-content-body">
                <div class="form-group col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-select>
                      <mat-option *ngFor="let data of attrData" [value]="data">{{data.name | titlecase}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>


                <div class="form-group col-md-2">
                  <mat-form-field appearance="outline">
                    <mat-select>
                      <mat-option *ngFor="let data of operatorList" [value]="data">{{data}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="form-group col-md-4">
                  <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1" min="0" max="10">
                  </mat-slider>
                  <!-- <mat-slide-toggle *ngIf="attributeForm.value.type == 'Boolean'" >
                </mat-slide-toggle> -->
                </div>
              </div>
              <div class="expression-content-body">

                <div class="form-group col-md-2">
                  <mat-form-field appearance="outline">
                    <mat-select>
                      <mat-option *ngFor="let data of attrData" [value]="data">{{data.name | titlecase}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="form-group col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-select>
                      <mat-option *ngFor="let data of attrData" [value]="data">{{data.name | titlecase}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>


                <div class="form-group col-md-2">
                  <mat-form-field appearance="outline">
                    <mat-select>
                      <mat-option *ngFor="let data of conditionList" [value]="data">{{data}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="form-group col-md-4">
                  <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1" min="0" max="10">
                  </mat-slider>
                  <!-- <mat-slide-toggle *ngIf="attributeForm.value.type == 'Boolean'" >
                </mat-slide-toggle> -->
                </div>
              </div>
            </div>
          </div>

          <div class="template-action row">
            <div class="col-md-12">
              <div class="form-action-area">
                <button mat-raised-button (click)="onClose()" class="gray-btn">Cancel</button>
                <button mat-raised-button [disabled]="!queueForm.valid" (click)="onSave()" [mat-dialog-close]="true"
                  class="dark-blue-btn service-trigger">Add</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ng-template>