<div class="container main-custom-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel-body">
        <div class="sub-heading">
          <h2>Report Settings</h2>
        </div>
        <div class="sub-heading-content">
          <form class="form-horizontal form-bordered" [formGroup]="reportSettingForm">
            <div class="form-group col-md-5">
              <mat-label>Database Name<span class="required">*</span></mat-label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="dbName">
                <mat-error class="form-error">
                  {{formErrors.dbName}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-5">
              <mat-label>Database Username<span class="required">*</span></mat-label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="dbUsername">
                <mat-error class="form-error">
                  {{formErrors.dbUsername}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-5">
              <mat-label>Database Password<span class="required">*</span></mat-label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="dbPwd">
                <mat-error class="form-error">
                  {{formErrors.dbPwd}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-5">
              <mat-label>Database URL<span class="required">*</span></mat-label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="dbUrl">
                <mat-error class="form-error">
                  {{formErrors.dbUrl}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-5 padding-btn">
              <mat-label>Enable Reporting</mat-label>
                <mat-slide-toggle formControlName="enableReporting"></mat-slide-toggle>
            </div>

            <div class="action-area padding-btn toggle-save-btn">
              <button mat-raised-button class="blue-btn service-trigger" (click)="onSave()">Save</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
