<div class="loading-area" *ngIf="spinner">
  <mat-spinner></mat-spinner>
</div>
<div class="container main-custom-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel-body">
        <div class="sub-heading">
          <h2>Report Settings</h2>
        </div>
        <div class="sub-heading-content">
          <form class="form-horizontal form-bordered" [formGroup]="reportSettingForm">
            <div class="form-group col-md-5">
              <mat-label>Database Name</mat-label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="rcDBName">
                <mat-error class="form-error">
                  {{formErrors.rcDBName}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-5">
              <mat-label>Database User</mat-label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="rcDBUser">
                <mat-error class="form-error">
                  {{formErrors.rcDBUser}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-5">
              <mat-label>Database Password</mat-label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="rcDBPwd">
                <mat-error class="form-error">
                  {{formErrors.rcDBPwd}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-5">
              <mat-label>Database URL</mat-label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="rcDBUrl">
                <mat-error class="form-error">
                  {{formErrors.rcDBUrl}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-5 padding-btn">
              <mat-label>Enable Reporting</mat-label>
                <mat-slide-toggle formControlName="reportingEnabled"></mat-slide-toggle>
            </div>

            <div class="action-area padding-btn toggle-save-btn">
              <button [disabled]="!reportSettingForm.valid" mat-raised-button class="blue-btn service-trigger" (click)="onSave()">Save</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
