@import "~src/assets/themes/blue-theme";

.service-trigger {
  background: $blue-text-color;
  color: #ffffff;
  height: 30px;
  line-height: 30px;
  width: 90px;
}


.types-list {
  //padding: 0 30px;


  .type-list-data {
    display: block;
    overflow: hidden;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    padding: 0;
    width: 100%;
    margin: 0;
    background: white !important;
    height: inherit !important;

    .icon-section {
      img {
        padding-right: 5px;
        max-width: 30px;
        max-height: 30px;
      }
    }

    li {
      list-style: none;
      border-bottom: 1px solid #e2e2e2;
      background: white !important;
      width: 100%;
      padding: 0 15px;
      min-height: 40px;
      position: relative;
      line-height: 40px;

      div {
        color: #686868;
        font-size: 13px;
        text-overflow: ellipsis;
        white-space: pre;
        overflow: hidden;

        &:nth-child(2) {
          padding: 0 10px 0 18px;
        }

        img {
          height: 24px;
        }
      }

      &:hover {
        background: #f3f6f8 !important;
        .list-action-area {
          span {
            display: inline-block;
            transition: all 0.3s;
          }
        }
      }

      span {
        color: #686868;
      }

      .list-view {
        max-height: 80px;
        min-height: 30px;
        overflow-y: auto;
        overflow-x: hidden;

        mat-chip-list {
          position: relative;
          // top: 5px;
          left: 6px;
        }

        .mat-chip-list-wrapper {
          width: calc(100% - 40px);
        }
      }
    }
  }
}

.no-data-warning {
  position: absolute;
  left: 45%;
  padding: 20px 0 10px 0;
  width: fit-content;
  mat-icon {
    font-size: 50px;
    color: #777777;
  }
  span {
    display: block;
    font-size: 12px;
    color: #777777;
    top: -5px;
    left: -15px;
    position: relative;
  }
}
