<div class="loading-area" *ngIf="spinner">
  <mat-spinner></mat-spinner>
</div>
<div class="container main-custom-container">
  <div class="row">
    <div class="col-sm-12 p-0">
      <div class="panel-body">
        <div class="sub-heading">
          <h2>{{pageTitle}}</h2>
        </div>
        <div *ngIf="!addChannelBool" class="panel-page-content">
          <div class="channel-accordion">
            <mat-accordion>
              <mat-expansion-panel *ngFor="let type of channelTypes" (opened)="panelOpenCallback(type)"
                hideToggle="true" #arrow>
                <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight"
                  [expandedHeight]="customExpandedHeight">
                  <mat-panel-title>
                    <img [src]="getFileURL(type?.channelLogo)">
                    <span>{{type?.name ? type?.name : 'N/A'}}</span>
                  </mat-panel-title>
                  <mat-panel-description>
                    <mat-icon *ngIf="arrow.expanded">arrow_drop_up</mat-icon>
                    <mat-icon *ngIf="!arrow.expanded">arrow_drop_down</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <div *ngIf="channels && channels.length  == 0" class="no-data-warning">
                  <i class="material-icons">warning_amber</i>
                  <span>No Data Found</span>
                </div>

                <table class="channel-table" *ngIf="channels && channels.length > 0">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Mode</th>
                      <!-- <th scope="col">Reponse SLA(sec)</th> -->
                      <th scope="col">Routing Mode</th>
                      <th scope="col">Channel Connector</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let channel of channels">
                      <td scope="row">{{channel?.name ? channel?.name : 'N/A'}}</td>
                      <td>{{channel?.channelConfig?.channelMode ? channel?.channelConfig?.channelMode : 'N/A'}}</td>
                      <td>{{channel?.channelConfig?.routingPolicy?.routingMode ? channel?.channelConfig?.routingPolicy?.routingMode : 'N/A'}}</td>
                      <td class="list-action-area">
                        <div class="data-overflow">{{channel?.channelConnector?.name ?
                          channel?.channelConnector?.name : 'N/A'}}</div>
                        <span *ngIf="managePermission" class="list-actions">
                          <button matTooltip="Edit" (click)="editChannel(channel)" mat-mini-fab>
                            <mat-icon>mode_edit</mat-icon>
                          </button>
                          <button matTooltip="Delete" (click)="deleteConfirm(channel)" mat-mini-fab>
                            <mat-icon>delete</mat-icon>
                          </button>
                        </span>
                      </td>

                    </tr>
                  </tbody>
                </table>
                <button *ngIf="managePermission" class="add-channel-btn" mat-flat-button (click)="addChannel(type)">
                  Add New Channel
                </button>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="addChannelBool">
    <app-channel-settings [parentChannelBool]="addChannelBool" [channelTypeData]="channelType"
      [editChannelData]="editChannelData" (childChannelBool)='childToParentUIChange($event)'
      (formSaveData)='onSave($event)'>
    </app-channel-settings>
  </ng-container>