@import "~src/assets/themes/blue-theme";

.panel-page-content {
  //padding-top: 50px !important;
  //padding-left: 46px !important;

  .channel-accordion {
    //padding: 0px 40px 10px 0px;
    .add-channel-btn {
      background: $blue-text-color;
      color: #ffffff;
      height: 20px;
      line-height: 20px;
      width: 100px;
      padding: 0;
      margin: 10px 43px;
    }

    mat-expansion-panel {
      box-shadow: none;
      border: 1px solid #e2e2e2;
      margin-bottom: 10px;
      .mat-expansion-panel-header {
        padding: 0px 18px !important;
        background: $fill-color;
        border-radius: 0;

        .mat-expansion-panel-header-title {
          img {
            padding: 1px 8px 0px 0px;
            max-width: 26px;
            max-height: 30px;
          }
          span {
            color: #797979;
          }
        }
      }
    }
    .channel-table {
      width: 100%;
      //   margin-bottom: 10px;
      thead {
        tr {
          min-height: 40px;
          height: 40px;
          border-bottom: 1px solid rgba(203, 203, 203, 0.25);
        }
        th {
          color: #777777;
          font-weight: 700;
          padding-left: 43px;
          font-size: 13px;

          &:nth-child(3) {
            padding: 0 !important;
          }
          // &:nth-child(4) {
          //   width: 20% !important;
          // }
        }
      }
      tbody {
        tr {
          position: relative;
          border-bottom: 1px solid rgba(203, 203, 203, 0.25);
          &:hover {
            background: #f3f6f8 !important;
            .list-action-area {
              span {
                display: inline-block;
                transition: all 0.3s;
              }
            }
          }

          td {
            font-size: 13px;
            color: #3e3e3e;
            height: 40px;
            line-height: 40px;
            padding: 0 15px 0 44px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 0;
            width: 20%;
            &:nth-child(3) {
              padding-left: 0;
              width: 15% !important;
            }

            &:nth-child(4) {
              // width: 25% !important;
            }

            mat-slide-toggle {
              position: relative;
              top: 20%;
            }
          }
        }
      }
    }
  }
}


.data-overflow {
  // max-width: calc(100% - 100px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.no-data-warning {
  position: relative;
  left: 45%;
  width: 100%;
  top: 10px;
  i {
    font-size: 40px;
    color: #777777;
  }
  span {
    display: block;
    padding: 0;
    font-size: 12px;
    color: #777777;
    top: -9px;
    left: -15px;
    position: relative;
  }
}
