@import "~src/assets/themes/blue-theme";

.service-trigger {
  background: $blue-text-color;
  color: #ffffff;
  height: 30px;
  line-height: 30px;
  width: 90px;
}

.adjust-toggle {
  padding: 15px 0;
  justify-content: space-between;

  &:first-child {
    padding-top: 0;
  }

  mat-label {
    small {
      display: block;
      color: #adaaaa;
      font-size: 10px;
    }
  }
}

.custom-wrap-field {
  mat-label {
    display: block;
  }

  span {
    color: #8B8B8B;
    font-size: 12px;
    padding: 0 5px;
  }

  .wrap-caption {
    padding-top: 0;

    small {
      display: block;
      margin: 0;
      padding-bottom: 20px;
      color: #adaaaa;
    }
  }

  .suffix{
    right: -66px;
    position: absolute;
    top: -16px;
  }
}
.btn-margin
{
  margin-left: 15px;
}
