.service-trigger {
  background: #25afcb;
  color: #ffffff;
  height: 30px;
  line-height: 30px;
  width: 90px;
}

// .page-content {
// padding: 10px 0px;

.top-section {
  position: absolute;
  padding: 10px 0px;
  width: 100%;

  .month-info {
    color: #929292;
    // width: 25%;
    // position: absolute;
    // left: 200px;
    // padding-top: 4px;

    .mat-icon-button {
      width: 30px !important;
      height: 30px !important;
      line-height: 30px !important;
    }
  }

  .layout-dropdown {
    border-radius: 5px;
    border: 1px solid #f2f2f2;
    padding: 5px;
    width: 7%;
    position: absolute;
    right: 10px;
    top: 15%;
  }
}

.calendar-section {
  position: absolute;
  top: 90px;
  width: calc(100% - 1px);
  border-top: 1px solid #e2e2e2;
  height: 100%;
  // width: 100%;

  .side-section {
    color: #7b7b7b;
    background: #fdfdfd;
    position: absolute;
    // position: fixed;
    // width: 30%;
    height: 100%;

    button {
      height: 35px;
      border-radius: 20px;
      width: calc(100% - 120px);
      overflow: hidden;
      text-overflow: ellipsis;
      background: #fff;
      color: #7b7b7b;
      /* padding: 0px 4px; */
      /* font-size: 27px; */
      position: absolute;
      top: 1.25rem;

      mat-icon {
        font-size: 20px;
        text-align: left;
      }
    }
    .my-calendar-section {
      position: absolute;
      top: 70px;
      // width: 100%;
      width: calc(100% - 40px);
      .heading {
        mat-icon {
          width: 25px;
          height: 25px;
          position: absolute;
          right: 20px;
          cursor: pointer;
        }
      }
    }
  }
  .calendar-layout {
    padding: 0;
  }
}
// }

.text-area {
  textarea {
    resize: none;
    height: 85px;
  }
}
