.service-trigger {
  background: #25afcb;
  color: #ffffff;
  height: 30px;
  line-height: 30px;
  width: 90px;
}

.page-content {
  padding: 10px 5px;

  .top-section {
    position: relative;
    .month-info {
      color: #929292;
      width: 20%;
      position: absolute;
      left: 200px;
      padding-top: 4px;

      .mat-icon-button {
        width: 30px !important;
        height: 30px !important;
        line-height: 30px !important;
     
      }
    }

    .layout-dropdown {
      border-radius: 5px;
      border: 1px solid #f2f2f2;
      width: 7%;
      padding: 4px 5px;
      position: absolute;
      right: 10px;
    }
  }

  .calendar-section {
    position: absolute;
    top: 90px;
    width: 100%;
    border-top: 1px solid #E2E2E2;
    .side-section {
      color: #7b7b7b;
      background: #FDFDFD;
      position: absolute;
      width: 30%;
      border-right: 1px solid #E2E2E2;

      button {
        border-radius: 50%;
        height: 30px;
        width: 31px;
        min-width: 10px;
        background: #25afcb;
        color: white;
        padding: 0px 4px;
        position: absolute;
        right: 10px;
        top: -16px;

        mat-icon {
          font-size: 18px;
        }
      }
    }
    .calendar-layout {
      width: 70%;
      // position: absolute;
      // left: 190px;
    }
  }
}

.text-area {
  textarea {
    resize: none;
    height: 85px;
  }
}
