<div class="loading-area" *ngIf="spinner">
  <mat-spinner></mat-spinner>
</div>
<div class="container main-custom-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel-body">
        <div class="sub-heading">
          <h2>Business Calendar</h2>
        </div>
        <!-- <div class="page-content"> -->
        <div class="top-section">
          <div class="month-info col-md-3 offset-md-2">
            {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
            <button (click)="monthChange()" mat-icon-button mwlCalendarPreviousView [view]="view"
              [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
              <mat-icon>chevron_left</mat-icon>
            </button>
            <button (click)="monthChange()" mat-icon-button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()">
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>

          <div class="layout-dropdown col-md-2">
            <mat-select (selectionChange)="setView($event)" [formControl]="layout">
              <mat-option *ngFor="let layout of layoutOptions" [value]="layout">{{layout | titlecase}}
              </mat-option>
            </mat-select>
          </div>

        </div>
        <div class="content-section">
          <div class="side-section col-md-2">

            <button mat-raised-button>
              <mat-icon>add</mat-icon>Create
            </button>

            <div class="my-calendar-section">
              <div class="heading">
                All Calendars
                <mat-icon (click)="openModal(newCalendar)">add</mat-icon>
              </div>
            </div>
          </div>

          <ng-template #customCellTemplate let-day="day" let-locale="locale">
            <div class="cal-cell-top">
              <!-- <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span> -->
              <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
            </div>
            <ng-container *ngFor="let event of day?.events">
              <small class="month-event-title" [ngStyle]="{'background':event?.color?.primary}">
                {{event?.title}}</small>
            </ng-container>
          </ng-template>



          <div class="calendar-layout col-md-10 offset-md-2">
            <div [ngSwitch]="view">

              <!-- <mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate">
              </mwl-demo-utils-calendar-header> -->

              <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
                [cellTemplate]="customCellTemplate" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
                (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)">
              </mwl-calendar-month-view>
              <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
                [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)">
              </mwl-calendar-week-view>
              <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
                [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)">
              </mwl-calendar-day-view>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->

  <ng-template #newCalendar>
    <div class="dialog-container">
      <div class="mat-card-header">
        <mat-icon (click)="onClose()">close</mat-icon>
        <h4 class="content-span full-width">{{formHeading}}</h4>
      </div>
      <div class="dialog-content">
        <form class="form-horizontal form-bordered" [formGroup]="calendarForm">
          <div class="form-group">
            <mat-label>Name</mat-label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="name">
              <!-- <mat-error class="form-error">
              {{formErrors.name}}
            </mat-error> -->
              <!-- <mat-error *ngIf="attributeForm.controls['name'].hasError('validName')">
              This name already exists
            </mat-error> -->
            </mat-form-field>
          </div>
          <div class="form-group text-area">
            <mat-label>Description</mat-label>
            <mat-form-field appearance="outline">
              <textarea matInput formControlName="description"></textarea>
              <!-- <mat-error class="form-error">
              {{formErrors.description}}
            </mat-error> -->
            </mat-form-field>
          </div>


          <div class="template-action row">
            <div class="col-md-12">
              <div class="form-action-area">
                <button mat-raised-button (click)="onClose()" class="gray-btn">Cancel</button>
                <button mat-raised-button [disabled]="!calendarForm.valid" (click)="onSave()" [mat-dialog-close]="true"
                  class="dark-blue-btn service-trigger">{{saveBtnText}}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ng-template>