.service-trigger {
  background: #25afcb;
  color: #ffffff;
  height: 30px;
  line-height: 30px;
  width: 90px;
}

mat-slide-toggle {
  float: right;
}

.report-padding-btn {
  padding: 0px 15px 30px 15px;
}

.bottom-padding{
  padding-bottom: 30px !important;
}