<div class="loading-area" *ngIf="spinner">
  <mat-spinner></mat-spinner>
</div>
<div class="container main-custom-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel-body">
        <div class="sub-heading">
          <h2>Locale Settings</h2>
        </div>
        <div class="panel-page-content">
          <form class="form-horizontal form-bordered" [formGroup]="localeSettingForm">
            <div class="col-md-5">
              <div class="form-group">
                <mat-label>Timezone</mat-label>
                <mat-form-field appearance="outline">
                  <mat-select (openedChange)="panelClose($event)" formControlName="timezone">
                    <input class="search-filter" type="text" [(ngModel)]="searchTerm"
                      [ngModelOptions]="{standalone: true}" placeholder="Search">
                    <mat-option *ngFor="let tz of timeZones | searchFilter:searchTerm" [value]="tz">{{tz.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error class="form-error">
                    {{formErrors.timezone}}
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="form-group locale-select-dropdown">
                <mat-label>Supported Languages</mat-label>

                <mat-form-field appearance="outline">
                  <mat-select (selectionChange)='manualDeselect($event)' (openedChange)="panelClose($event)"
                    formControlName="supportedLanguages" multiple>
                    <mat-select-trigger>
                      <mat-chip-list>
                        <mat-chip *ngFor="let lang of selectedLanguages | slice :0:3" [removable]="true"
                          (removed)="onLanguageRemoved(lang)">
                          {{ lang.name }}
                          <mat-icon *ngIf="selectedLanguages.length > 1" matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <mat-chip *ngIf="selectedCount?.length > 3">+{{selectedCount .length - 3}}</mat-chip>
                      </mat-chip-list>

                    </mat-select-trigger>
                    <!-- <input class="search-filter" type="text" [(ngModel)]="searchTerm"
                    [ngModelOptions]="{standalone: true}" placeholder="Search"> -->
                    <mat-option class="locale-checkbox" *ngFor="let lang of languages" [value]="lang">{{lang.name}}
                    </mat-option>

                  </mat-select>
                  <mat-error class="form-error">
                    {{formErrors.supportedLanguages}}
                  </mat-error>
                </mat-form-field>

              </div>

              <div class="form-group line-height">
                <mat-label>Default Language</mat-label>
                <mat-form-field appearance="outline">
                  <mat-select (openedChange)="panelClose($event)" formControlName="defaultLanguage">
                    <!-- <input class="search-filter" type="text" [(ngModel)]="searchTerm"
                    [ngModelOptions]="{standalone: true}" placeholder="Search"> -->
                    <mat-option *ngFor="let lang of selectedLanguages" [value]="lang">{{lang?.name ? lang?.name : lang}}
                    </mat-option>
                  </mat-select>
                  <mat-error class="form-error">
                    {{formErrors.defaultLanguage}}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="action-area col-md-5">
              <button [disabled]="!localeSettingForm.valid" mat-raised-button class="blue-btn service-trigger"
                (click)="onSave()">Save</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>