@import "~src/assets/themes/blue-theme";

.service-trigger {
  background: $blue-text-color;
  color: #ffffff;
  height: 30px;
  line-height: 30px;
  width: 90px;
}
.mat-chip.mat-standard-chip {
  background-color: #8b8b8b;
  color: #fff;
}

.mat-chip.mat-standard-chip .mat-chip-remove {
  opacity: 0.97;
  color: #fff;
}

.search-filter {
  margin: 10px auto;
  display: block;
  padding: 2px 8px;
  font-size: 12px;
  width: calc(100% - 10px);
  border-radius: 3px;
  border: 1px solid #ccc;
}
