@import "~src/assets/themes/blue-theme";

.main-nav {
  background-color: #ffffff;
  z-index: 1000;
  float: right;
  height: 50px;
  padding: 8px 10px;
  box-shadow: 1px 1px 2px #ccc;
}
.main-page-area {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
}

mat-sidenav-container.main-sidebar {
  width: 100%;
  height: calc(100% - 50px);
  position: absolute;
  top: 50px;
  left: 0;
  &.secondary-sidebar {
    top: 0;
  }

  mat-sidenav {
    box-shadow: none;
    .action-area{
      padding-top: 0;
    }
  }

  .mat-list-item-content {
    padding-left: 25px !important;
  }

  &.mat-drawer-opened {
    position: absolute;
    width: 100%;
    left: 0;
  }

  mat-sidenav.mat-drawer {
    width: 208px;
    overflow: hidden !important;
    background: #ffffff;
    //color: #ffffff;
    padding-bottom: 30px;
    visibility: visible !important;
    transform: translate3d(0, 0, 0);
  }

  .main-outlet {
    position: relative;
    padding: 15px 0;
  }

  .mat-expansion-panel-header-title {
    i {
      position: relative;
      top: 2px;
    }
  }
}

.menu-trigger {
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  box-shadow: none;
  background: #f3f6f8;
  border-radius: 0;
  outline: none;
  color: #939393;
  width: 66px;
}

.mat-nav-list {
  i {
    display: inline-block;
    margin-right: 0;
    width: 25px;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    text-align: center;
    color: #9c9c9c;
  }
  span.sidebar-text {
    margin-left: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
a.bottom-trigger {
  position: absolute;
  bottom: 0;
}

.logo-container {
  &.bottom-logo img {
    width: auto;
    height: 25px;
  }
}

.custom-theme {
  .main-nav {
    background: rgba(0, 0, 0, 0.5);
  }
  .menu-trigger {
    background: rgba(0, 0, 0, 0.36);
  }
}

button.menu-trigger.right-btn.mat-raised-button {
  float: right;
  position: absolute;
  right: 0;
  left: inherit;
}

.mat-list-option:hover,
.mat-list-option:focus,
.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item:focus,
.mat-action-list .mat-list-item:hover,
.mat-action-list .mat-list-item:focus {
  background: $fill-color;

  .mat-content{
    img {
      filter: brightness(1) grayscale(0);
    }
  }
}

.mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:not([aria-disabled="true"]).cdk-keyboard-focused,
.mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:not([aria-disabled="true"]).cdk-program-focused,
.mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:not([aria-disabled="true"]):hover {
  background: $fill-color;
}

.img-size-adjustment {
  max-height: 17px;
  max-width: 17px;
}
