<div class="loading-area" *ngIf="spinner">
  <mat-spinner></mat-spinner>
</div>
<div class="container main-custom-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel-body">
        <div class="sub-heading">
          <h2>Display Settings</h2>
        </div>
        <div class="sub-heading-content">
          <form class="form-horizontal form-bordered" [formGroup]="displaySettingForm">
            <div class="form-group col-md-5">
              <mat-label>Agent Alias</mat-label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="agentAlias">
                <mat-error class="form-error">
                  {{formErrors.agentAlias}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-5">
              <mat-label>Company Name</mat-label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="companyDisplayName">
                <mat-error class="form-error">
                  {{formErrors.companyDisplayName}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="component-logo">
              <div class="form-group col-md-5">
                <mat-label>Company Logo</mat-label>
                <mat-form-field appearance="outline">
                  <input style="display: none;" #file type="file" accept='image/*' (change)="preview(file.files,$event)" />
                  <input matInput formControlName="companyLogo" [value]="imageName">
                  <button class="select-file-button" mat-raised-button matSuffix (click)="file.click()">
                    <i class="material-icons">folder</i>
                  </button>
                  <mat-error class="form-error">
                    <!-- matError -->
                  </mat-error>
                </mat-form-field>
                <div class="uploaded-logo">
                  <div class="upload-logo" *ngIf="imgURL" [style.background]="'url(' + imgURL +')'">
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4" style="padding: 0;">
                <span class="logo-msg-span">*Image size shouldn't exceed 2MB</span>
              </div>
            </div>

            <!-- <div class="component-logo">
              <div class="form-group col-md-5">
                <mat-label>Company Logo</mat-label>
                <label for="file-upload" class="custom-file-upload" style="color: #8B8B8B;">
                  {{imageName}} <i class="fa fa-folder" aria-hidden="true"></i>
                </label>
                <input id="file-upload" #file type="file" accept='image/*' (change)="preview(file.files,$event)" />
                <div class="form-group col-md-4" style="padding: 0;">
                  <span>*Disclaimer Message</span>
                </div>
                <div class="uploaded-logo">
                  <div class="upload-logo" *ngIf="imgURL" [style.background]="'url(' + imgURL +')'">
                  </div>
                </div>
              </div>
            </div> -->

            <div class="action-area padding-btn">
              <button [disabled]="!displaySettingForm.valid" mat-raised-button class="blue-btn service-trigger" (click)="onSave()">Save</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
