<div class="loading-area" *ngIf="spinner">
    <mat-spinner></mat-spinner>
</div>

<div class="panel-page-content">
    <form class="form-horizontal form-bordered" [formGroup]="channelTypeForm">
        <div class="col-md-5">

            <div class="form-group">
                <mat-label>Type Name</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="name">
                    <mat-error class="form-error">
                        {{formErrors?.name}}
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- <div class="form-group">
                <mat-label>Channel Config Schema</mat-label>
                <mat-form-field appearance="outline">
                    <mat-select placeholder="Select Form Schema" formControlName="channelConfigSchema">
                        <mat-option *ngFor="let form of formsList" [value]="form">{{form?.formTitle}}</mat-option>
                    </mat-select>
                    <mat-error class="form-error">
                        {{formErrors?.channelConfigSchema}}
                    </mat-error>
                </mat-form-field>
            </div> -->

            <div class="form-group">
                <mat-label>Media Routing Domain</mat-label>
                <mat-form-field appearance="outline">
                    <mat-select placeholder="Select MRD" formControlName="mediaRoutingDomain">
                        <mat-option *ngFor="let mrd of mrdData" [value]="mrd">{{mrd?.name}}</mat-option>
                    </mat-select>
                    <mat-error class="form-error">
                        {{formErrors?.mediaRoutingDomain}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="component-logo">
            <div class="form-group col-md-5">
                <mat-label>Channel Type Logo</mat-label>
                <mat-form-field appearance="outline">
                    <input style="display: none;" #file type="file" accept='.png, .svg'
                        (change)="fileUpload(file.files,$event)" />
                    <input [readonly]="true" matInput formControlName="channelLogo" [value]="imageName">
                    <button class="select-file-button" mat-icon-button matSuffix (click)="file.click()">
                        <img src="assets/images/upload.svg" alt="image">
                    </button>
                    <mat-error class="form-error">
                        {{formErrors?.channelLogo}}
                    </mat-error>
                </mat-form-field>
                <div *ngIf="imageData" class="uploaded-logo">
                    <div class="upload-logo" *ngIf="imageData" [style.background]="'url(' + imageData +')'">
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4" style="padding: 0;">
                <span class="logo-msg-span">
                    <img src="assets/images/info.png" matTooltip="{{disclaimerText}}"
                        matTooltipClass="disclaimer-tooltip">
                </span>
            </div>
        </div>


        <div class="form-group adjust-toggle col-md-5" style="padding-top: 15px">
            <mat-label>Interactive</mat-label>
            <mat-slide-toggle formControlName="isInteractive"></mat-slide-toggle>
        </div>


        <div class="action-area btn-margin col-md-5">
            <button mat-raised-button (click)="onClose()" class="gray-btn">Cancel</button>
            <button [disabled]="!channelTypeForm.valid" mat-raised-button class="blue-btn service-trigger"
                (click)="onSave()">Save</button>
        </div>

    </form>
</div>