@import "~src/assets/themes/blue-theme";

.service-trigger {
  background: $blue-text-color;
  color: #ffffff;
  height: 30px;
  line-height: 30px;
  width: 90px;
}

.panel-page-content {
  width: 100%;
}

mat-slide-toggle {
  padding: 0px 20px;
  position: relative;
  top: 6px;
}

button {
  color: #ffffff;
  margin-left: 10px;
  height: 30px;
  line-height: 30px;
  width: 90px;

  //&.gray-btn {
  //  background: #919191;
  //}
}

.btn-margin {
  margin: 15px 0px;
}

component-logo {
  display: flex;
  flex-wrap: wrap;
  .logo-msg-span {
    position: absolute;
    top: 45px;
    color: #717171;
    font-size: 11px;
    width: 100%;
  }
  .mat-input-element:disabled,
  .mat-form-field-type-mat-native-select.mat-form-field-disabled
    .mat-form-field-infix::after {
    color: #8b8b8b;
  }
}

.select-file-button {
  /* position: relative; */
  top: -3px;
  font-size: -25px;
  right: -9px;
  background: #f9f9f9;
  color: darkorange;
  box-shadow: none;
  border-left: 1px solid #f0f0f0;
  height: 39px;
  line-height: 39px;
  i.material-icons {
    font-size: 22px;
  }
}
