<div class="loading-area" *ngIf="spinner">
  <mat-spinner></mat-spinner>
</div>
<div class="container main-custom-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel-body">
        <div class="sub-heading">
          <h2>Users List</h2>
        </div>
        <div class="routing-content">
          <div class="filter-section">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <input matInput [(ngModel)]="searchTerm" placeholder="Search">
                <mat-icon>search</mat-icon>
              </mat-form-field>
            </div>

            <button mat-flat-button (click)='syncUsers()'>
              <mat-icon>sync</mat-icon>
              Sync
            </button>
          </div>

          <div class="routing-accordion">
            <mat-accordion>
              <ul class="top-heading routing-group-list">
                <li>Name</li>
                <li>Role</li>
              </ul>
              <ng-container>
                <mat-expansion-panel
                  *ngFor="let data of userData | searchFilter:searchTerm | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
                  <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight"
                    [expandedHeight]="customExpandedHeight">
                    <mat-panel-title>
                      <p class="group-name">{{data.firstName? data.firstName : 'N/A'}}</p>
                    </mat-panel-title>
                    <mat-panel-title>
                      <p class="group-name">{{data.Role? data.Role : 'N/A'}}</p>
                      <div class="table-trigger">
                        <span class="list-trigger-area">
                          <button mat-mini-fab matTooltip="Edit" (click)="editUser(userProfileForm,data)"><i
                              class="fa fa-pencil" aria-hidden="true"></i>
                          </button>
                        </span>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-chip-list>
                    <mat-chip *ngFor="let attr of data.attributes | slice :0:3">
                      {{ attr.name }} ({{attr.value}})
                    </mat-chip>
                    <mat-chip *ngIf="data.attributes?.length > 3">+{{data.attributes?.length - 3}}</mat-chip>
                  </mat-chip-list>

                </mat-expansion-panel>
              </ng-container>
            </mat-accordion>
            <div class="pagination-section">
              <span class="page-span">
                <span>Entries Per Page</span>
                <select (change)="selectPage()" [(ngModel)]="selectedItem">
                  <option *ngFor="let item of itemsPerPageList" [value]="item">{{ item }}
                  </option>
                </select>
              </span>
              <pagination-controls (pageBoundsCorrection)="pageBoundChange($event)"
                (pageChange)="p = $event;pageChange($event)" previousLabel="" nextLabel="">
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #userProfileForm>
    <div class="user-dialog-container">
      <div class="mat-card-header">
        <mat-icon (click)="onClose()">close</mat-icon>
        <h4 class="content-span full-width">{{formHeading}}</h4>
      </div>
      <div class="dialog-content">
        <form class="form-horizontal form-bordered" [formGroup]="userForm">
          <div class="form-expansion-panel">
            <mat-accordion>
              <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight"
                  [expandedHeight]="customExpandedHeight">
                  <mat-panel-title>
                    User Details
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="user-disclaimer">
                  <img src="/assets/images/warning.svg" alt="warning">
                  <span>This information is only editable from Keycloak.</span>
                </div>
                <div class="user-profile-section">
                  <div class="form-group col-md-6">
                    <mat-label>First Name</mat-label>
                    <mat-form-field appearance="outline">
                      <input matInput formControlName="firstName">
                    </mat-form-field>
                  </div>
                  <div class="form-group col-md-6">
                    <mat-label>Last Name</mat-label>
                    <mat-form-field appearance="outline">
                      <input matInput formControlName="lastName">
                    </mat-form-field>
                  </div>
                </div>

                <div class="user-profile-section">
                  <div class="form-group col-md-6">
                    <mat-label>Agent ID</mat-label>
                    <mat-form-field appearance="outline">
                      <input matInput formControlName="agentId">
                    </mat-form-field>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel class="attr-panel">
                <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight"
                  [expandedHeight]="customExpandedHeight">
                  <mat-panel-title>
                    Attributes
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="user-attribute-section attribute-section-label">
                  <div class="form-group col-md-5">
                    <mat-label>Available Attributes</mat-label>
                    <div class="available-attribute-section row m-0">
                      <div class="search-filter-area">
                        <input type="text" placeholder="Search" [(ngModel)]="attributeFilterTerm"
                          [ngModelOptions]="{standalone: true}">
                      </div>
                      <ul class="attributes-area">
                        <li *ngFor="let i=index;let item of attrData | searchFilter:attributeFilterTerm">
                          <p class="checbox-custom checkbox-team">
                            <!-- <input class="mat-checkbox mat-accent" formControlName="attributes" type="checkbox"
                              (change)="checkFilterState($event,item);filterValue(item)" [checked]="item.isChecked">
                            <span class="checkmark"></span> -->
                            <input class="mat-checkbox mat-accent" type="checkbox"
                              (change)="availableToSelectedAttribute($event,item,i)" [checked]="item.isChecked">
                            <span class="checkmark"></span>
                            <label class="attribute-name attr-field">{{item?.name | titlecase}}</label>
                          </p>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="form-group col-md-7">
                    <mat-label>Selected Attributes</mat-label>
                    <div class="available-attribute-section row m-0">
                      <div class="search-filter-area">
                        <input type="text" placeholder="Search" [(ngModel)]="selectedAttributeFilterTerm"
                          [ngModelOptions]="{standalone: true}">
                      </div>

                      <div class="selected-attribute-panel">
                        <mat-accordion>
                          <mat-expansion-panel
                            *ngFor="let i = index;let data of userForm.value.attributes | searchFilter:selectedAttributeFilterTerm">
                            <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight"
                              [expandedHeight]="customExpandedHeight">
                              <mat-panel-title>
                                <p class="group-name">
                                  {{data.name? data.name : 'N/A'}} ({{data.value? data.value : 'N/A'}})</p>
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div *ngIf="data.type">
                              <mat-slider (input)="onSliderChange($event,data.type,i)" *ngIf="data.type == 'Proficient'"
                                [value]="data.value" thumbLabel [displayWith]="formatLabel" tickInterval="1" min="0"
                                max="10"></mat-slider>
                              <mat-slide-toggle (change)="onToggleChange($event,data.type,i)" *ngIf="data.type == 'Boolean'"
                                [checked]="data.value">
                              </mat-slide-toggle>
                            </div>
                          </mat-expansion-panel>

                        </mat-accordion>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>

          <div class="template-action row">
            <div class="col-md-12">
              <div class="user-form-action-area">
                <button mat-raised-button (click)="onClose()" class="gray-btn">Cancel</button>
                <button mat-raised-button [disabled]="!userForm.valid" (click)="onSave()" [mat-dialog-close]="true"
                  class="dark-blue-btn service-trigger">Save</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ng-template>