@import "~src/assets/themes/blue-theme";

.form-expansion-panel {
  .mat-expansion-panel-spacing {
    margin: 0;
    border-radius: 0;
  }

  .mat-expansion-panel {
    box-shadow: none !important;
  }

  .mat-expansion-panel-body {
    padding: 20px;
  }

  .mat-expansion-panel-header {
    background: #fff !important;
    padding: 0 38px !important;

    &:hover {
      background: #fff !important;
    }
  }

  mat-panel-title.mat-expansion-panel-header-title {
    color: #5b5b5b !important;
    font-weight: 600;
    font-size: 14px;
  }
}

.user-disclaimer {
  position: relative;
  top: -10px;
  padding: 0 15px;

  span {
    font-size: 11px;
    padding: 0 5px;
    color: #737373;
  }
}

.attribute-section-label {
  .form-group mat-label {
    color: #5b5b5b !important;
  }
}

.available-attribute-section {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  height: 300px;
  margin-top: 5px !important;

  .search-filter-area {
    width: calc(100% - 10px);

    input {
      margin: 5px;
      padding: 2px 13px;
      font-size: 12px;
      height: 27px;
      width: 100%;
      border: 1px solid #d9d9d9;
      border-radius: 20px;
      outline: none;
    }
  }

  .attributes-area {
    padding: 0;
    float: left;
    width: 100%;
    overflow-y: auto;
    height: calc(100% - 38px);

    li {
      display: inline-block;
      width: 100%;
      padding-left: 10px;

      label {
        margin: 0;
        position: relative;
        left: -7px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 140px;
        line-height: 32px;
      }
    }
  }

  .checkbox-team {
    top: 0 !important;
    line-height: 5px;
    height: 25px;
    padding: 5px 15px;

    .checkmark {
      position: absolute;
      top: 6px;
      left: 10px;

      &:after {
        top: 4px !important;
        padding-left: 1.2px;
        color: $blue-text-color;
        font-size: 13px;
      }
    }

    input {
      position: relative !important;
      opacity: 0;
      cursor: pointer !important;
      height: 20px !important;
      width: 20px !important;
      z-index: 2 !important;
      left: -3px !important;
    }

    label {
      position: relative;
      top: -7px;
      margin-left: 10px !important;
      font-size: 12px;
      color: #6b6b6b;
    }
  }

  .checkbox-custom {
    display: block;
    position: relative;
    margin: 0;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 12px;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      left: -7px !important;
      top: -13px !important;
    }

    input:checked~.checkmark {
      border-color: #c2c2c2;
      border-radius: 3px;
    }

    input:checked~.checkmark:after {
      display: block;
    }
  }

  .checkmark {
    position: absolute;
    top: -20px;
    left: 10px;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: 1px solid #d9d9d9;
    border-radius: 4px;

    &:after {
      position: absolute;
      display: none;
      content: "done";
      font-family: Material Icons;
      color: #ffffff;
      left: -1px;
      top: -4px;
    }

    span {
      width: 20px;
      height: 20px;
    }
  }

  .selected-attribute-panel {
    width: 100%;
    padding: 0px 10px 0px 10px;
    overflow-y: auto;
    height: calc(100% - 38px);

    .mat-expansion-panel-spacing {
      margin: 0;
    }

    .mat-expansion-panel {
      box-shadow: none !important;
    }

    .mat-expansion-panel-header {
      background: #fff !important;
      padding: 0 10px !important;
      height: 30px !important;

      &:hover {
        background: #fff !important;
      }
    }

    p.group-name {
      padding: 25px 15px 15px 0px;
    }
  }
}

.custom-user-list {
  background: white !important;
  height: inherit !important;
}

.custom-user-list-li {
  background: white !important;
  height: inherit !important;
}

.users-list {

  //padding: 0px 25px;
  .mat-chip.mat-standard-chip {
    background-color: #fff;
    color: #5b5b5b;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 23px;
    line-height: 12px;
    margin: 3px!important;
    position: relative;
    border: 1px solid;
    max-width: 50ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
  }

  .top-heading {

    //padding: 10px 0px;
    //display: block;
    //overflow: hidden;
    //border: 1px solid #e2e2e2;
    //background: #f5f5f5;
    //height: 40px;
    //padding: 0;
    //margin: 0;
    li {

      //color: #686868;
      //display: inline-block;
      //list-style: none;
      //padding: 10px 25px;
      &:first-child {
        width: 25%;
      }

      &:nth-child(2) {
        width: 75%;
      }
    }
  }

  .routing-user-list {
    display: block;
    overflow: hidden;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    //background: #f5f5f5;
    //height: 40px;
    padding: 0;
    width: 100%;
    margin: 0;
    background: white !important;
    height: inherit !important;

    li {
      list-style: none;
      border-bottom: 1px solid #e2e2e2;
      background: white !important;
      width: 100%;
      padding: 0 25px;
      min-height: 40px;
      position: relative;
      line-height: 40px;

      //list-style: none;
      &:hover {
        background: #f3f6f8 !important;

        .list-action-area {
          span {
            display: inline-block;
            transition: all 0.3s;

          }
        }
      }

      span {
        color: #686868;
      }

      .list-view {
        max-height: 80px;
        min-height: 30px;
        overflow-y: auto;
        overflow-x: hidden;
        align-self: center;

        mat-chip-list {
          position: relative;
          // top: 5px;
          left: 6px;
        }

        .mat-chip-list-wrapper {
          width: calc(100% - 40px);
        }
      }
    }
  }

}

.attribute-dialog {
  width: 100%;
  display: flex;
  padding: 0 5px;
  height: 40px;
  justify-content: space-around;

  input {
    width: 25%;
    padding: 0 5px;
    color: #707070;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  select {
    padding: 0 5px;
    margin: 8px 0px;
    height: 25px;
  }

  button {
    color: $blue-text-color;
    height: 25px;
    line-height: 25px;
    /* width: 35%; */
    padding: 0 5px;
    margin: 8px 5px;
  }

  .close-attr-btn {
    position: relative;
    right: 5px;
    // width: 12%;
    border-left: 1px solid #d8d8d8;

    mat-icon {
      padding: 10px 8px;
      color: #909090;
      cursor: pointer;
      font-size: 24px;
    }
  }
}

.bool-attribute {
  select {
    // width: 35%;
    margin: 8px 10px;
  }

  .close-attr-btn {
    right: 5px;
  }
}

.user-profile-section {
  .chip-div {
    padding: 5px 0px;
  }
}

.no-data-warning {
  position: absolute;
  left: 45%;
  padding-top: 10px;

  i {
    font-size: 40px;
    color: #777777;
  }

  span {
    display: block;
    padding: 0;
    font-size: 12px;
    color: #777777;
    top: -5px;
    left: -15px;
    position: relative;
  }
}

table {
  border: 1px solid #e2e2e2;
  tr {
    position: relative;

    mat-chip-list {
      line-height: 40px;
      display: inline-flex;
    }

    &:hover {
      background: #f3f6f8;

      .list-action-area {
        .list-actions {
          display: inline-block;
          transition: all 0.3s;
        }
      }
    }
  }
}



.assign-data-area{
  padding: 5px 0 0;
  height: 100%;
  max-height: 80vh;
  label{
    color: #939393;
    font-size: 12px;
    }
  }
.selected-secondary-area {
  //border-top: 1px solid #E7EDF6;

  //input{
  //  width: 100%;
  //  border: 1px solid #E2E2E2;
  //  height: 34px;
  //  line-height: 34px;
  //  border-radius: 3px;
  //  }
  ul {
    padding: 0;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    max-height: 290px;
    overflow: auto;
    flex-wrap: nowrap;
    li {
      background: #F3F6FA;
      display: inline-flex;
      line-height: 36px;
      margin: 3px 0;
      border-radius: 3px;
      padding: 0 10px;
      justify-content: space-between;
      color: #1A50A2;
      cursor: pointer;
      &.selected-secondary, &:hover{
        background: #1A50A2;
        color: #fff;
        }
      span{
        font-size: 13px;
        }
      }
    }
  }

.assign-unassign-main {
  flex-wrap: nowrap;
  .table-selected-data{
    padding: 0 5px;
    height: 34px;
    line-height: 34px;
    text-align: right;
    label{
      color: #5B5B5B;
      font-size: 12px;
      margin: 0;
      }
    }

  .assigned-table{
    height: 100%;
    overflow: auto;
    position: relative;
    max-height: 505px;
    border-radius: 5px;
    border: 1px solid #E7EDF6;
    }

  h4 {
    font-size: 14px;
    color: #5B5B5B;
    font-weight: 600;
    padding: 0 2px;

    .selected-secondary-agent{
      color: #1A50A2;
      }
    }
  .search-field{
    width: 100%;
    border: 1px solid #E2E2E2;
    height: 34px;
    line-height: 34px;
    border-radius: 3px;
    padding-left: 10px;
    }

  .select-check {
    width: 30px;
    padding-right: 0 !important;
    mat-checkbox {
      position: relative;
      top: 2px;
      }

    input {
      width: 18px;
      height: 18px;
      vertical-align: middle;
      }
    }
  .assign-unassign-data{
    min-width: 260px;
    flex: 100%;

    &.attribute-selection{
      flex: 50%;
      }

    &.secondary-list{
      width: 260px;
      max-width: 260px;
      }
    }
  .assign-data-area{
    position: relative;

    .search-area{
      position: absolute;
      width: calc(100% - 15px);
      top: 45px;
      margin: 0 auto;
      left: 8px;
      z-index: 2;
      }
    table{
      border: 0;
      thead{
        background: #F3F6FA;
        border: 1px solid #E7EDF6;
        th{
          font-size: 13px;
          color: #686868;
          padding: 0 10px;
          border: 0;
          height: 36px;
          line-height: 36px;
          }
        }
      tbody{
        &:before{
          opacity: 0;
          content: "-";
          display: block;
          line-height: 3em;
          color: transparent;
          }
        td{
          border: 0;
          padding: 5px 12px;
          font-size: 13px;
          }
        }
      }
    }

  }
.assign-data-action{
  padding: 20px 0 10px;

  button{
    margin-left: 10px;
    min-width: 85px;
    }
  }

//Available agents list
.agent-list{
  table{
    //border: 1px solid #E6E6E6;
    border-radius: 3px;
    th{
      background: #F3F6FA;
      }
    td{
      border: 0;
      }
    }
  .dialog-content {
    padding: 20px;
    overflow: hidden;
    }

  .routing-table {
    overflow: auto;
    max-height: 80vh;
    position: relative;
    border: 1px solid #E6E6E6;

    .search-area{
      position: absolute;
      width: calc(100% - 15px);
      top: 55px;
      margin: 0 auto;
      left: 8px;
      z-index: 2;

      .search-field{
        width: 100%;
        border: 1px solid #E2E2E2;
        height: 34px;
        line-height: 34px;
        border-radius: 3px;
        padding-left: 10px;
        }
      }
    th{
      border-bottom-width: 1px;
      border-top-width: 0;
      }

    tbody:before {
      opacity: 0;
      content: "-";
      display: block;
      line-height: 3em;
      color: transparent;
      }
    }
  }
.routing-content {
  td {
    width: inherit;
    }

  .agents-list-data {
    width: 120px !important;
    max-width: 120px !important;
    min-width: 120px !important;
    span {
      color: #1A50A2;
      text-decoration: underline;
      cursor: pointer;
      }

    }
  }

.main-selected-filter {
  flex-wrap: nowrap;
  background: #F3F6FA;
  height: 35px;
  align-items: center;
  padding: 0 15px;
  border-radius: 5px;

  li {
    display: inline-flex;
    flex-wrap: nowrap;
    //margin-right: 2em;
    height: 35px;
    align-items: center;
    color: #191919;
    font-size: 13px;
    &:after {
      content: '&&';
      padding: 0;
      width: 50px;
      text-align: center;
      font-size: 13px;
      }
    &:last-child{
      &:after{
        content: '';
        display: none;
        }
      }

    label {
      margin: 0;
      font-size: 13px;
      display: inline-flex;
      align-self: center;
      flex-direction: row;

      &:after{
        content: 'navigate_next';
        font-family: "Material Icons" !important;
        font-size: 16px;
        display: inline-block;
        line-height: 20px;
        width: 15px;
        }
      }
    }
  }


.main-filter-area {
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;

  .form-group {
    flex: 100%;
    max-width: 33%;
    margin: 0 0 0 2%;
    }
  }
