<div class="loading-area" *ngIf="spinner">
  <mat-spinner></mat-spinner>
</div>
<div class="container main-custom-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel-body">
        <div class="sub-heading">
          <h2>Attribute Settings</h2>
        </div>
        <div class="routing-content">
          <div class="filter-section">
            <div class="form-group search-field">
              <mat-form-field appearance="outline">
                <input matInput [(ngModel)]="searchTerm" placeholder="Search">
                <mat-icon>search</mat-icon>
              </mat-form-field>
            </div>

            <button mat-flat-button (click)="openModal(newAttribute)">
              <mat-icon>add</mat-icon>
              Create Attribute
            </button>
          </div>

          <div class="routing-table">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Type</th>
                  <th scope="col">Default Value</th>
                </tr>
              </thead>
              <tbody *ngIf="attrData && attrData.length != 0">
                <ng-container>
                  <tr
                    *ngFor="let data of attrData | searchFilter:searchTerm | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
                    <td scope="row">{{data.name ? data.name : 'N/A'}}</td>
                    <td>{{data.description ? data.description :'N/A'}}</td>
                    <td>
                      <ng-container *ngIf="data?.type == 'BOOLEAN'">{{data.type ? 'Boolean' : 'N/A'}}</ng-container>
                      <ng-container *ngIf="data?.type == 'PROFICIENCY_LEVEL'">{{data.type ? 'Proficiency' : 'N/A'}}
                      </ng-container>

                    </td>
                    <td class="table-trigger">{{data.defaultValue ? data.defaultValue : 'N/A'}}
                      <span class="list-trigger-area">
                        <button matTooltip="Edit" (click)="editAttribute(newAttribute,data)" mat-mini-fab>
                          <!-- <i class="fa fa-pencil" aria-hidden="true"></i> -->
                          <mat-icon>mode_edit</mat-icon>
                        </button>
                        <button matTooltip="Delete" (click)="deleteConfirm(data)" mat-mini-fab>
                          <!-- <i class="fa fa-trash-o" aria-hidden="true"></i> -->
                          <mat-icon>delete</mat-icon>
                        </button>
                      </span>
                    </td>
                  </tr>
                </ng-container>

              </tbody>

              <div *ngIf="attrData && attrData.length == 0" class="no-data-warning">
                <i class="material-icons">warning_amber</i>
                <span>No Data Found</span>
              </div>

            </table>
            <div *ngIf="attrData && attrData.length > 5" class="pagination-section">
              <span class="page-span">
                <span>Entries Per Page</span>
                <select (change)="selectPage()" [(ngModel)]="selectedItem">
                  <option *ngFor="let item of itemsPerPageList" [value]="item">{{ item }}
                  </option>
                </select>
              </span>
              <pagination-controls (pageBoundsCorrection)="pageBoundChange($event)"
                (pageChange)="p = $event;pageChange($event)" previousLabel="" nextLabel="">
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #newAttribute>
    <div class="dialog-container">
      <div class="mat-card-header">
        <mat-icon (click)="onClose()">close</mat-icon>
        <h4 class="content-span full-width">{{formHeading}}</h4>
      </div>
      <div class="dialog-content">
        <form class="form-horizontal form-bordered" [formGroup]="attributeForm">
          <div class="form-group">
            <mat-label>Name</mat-label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="name">
              <mat-error class="form-error">
                {{formErrors.name}}
              </mat-error>
              <mat-error *ngIf="attributeForm.controls['name'].hasError('validName')">
                This name already exists
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-label>Description</mat-label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="description">
              <mat-error class="form-error">
                {{formErrors.description}}
              </mat-error>
            </mat-form-field>
          </div>

          <div [ngClass]="{'attribute-type-value': attributeForm.value.type == 'BOOLEAN'}">
            <div class="form-group" [ngClass]="{'col-md-8': attributeForm.value.type == 'BOOLEAN'}">
              <mat-label>Type</mat-label>
              <mat-form-field appearance="outline">
                <mat-select formControlName="type" [disabled]="editFlag">
                  <mat-option [value]="'BOOLEAN'">Boolean</mat-option>
                  <mat-option [value]="'PROFICIENCY_LEVEL'">Proficiency</mat-option>
                </mat-select>
                <mat-error class="form-error">
                  {{formErrors.type}}
                </mat-error>
              </mat-form-field>
            </div>

            <div *ngIf="attributeForm.value.type" class="form-group"
              [ngClass]="{'col-md-4': attributeForm.value.type == 'BOOLEAN'}">
              <mat-label>Default Value</mat-label>
              <mat-slider *ngIf="attributeForm.value.type == 'PROFICIENCY_LEVEL'" formControlName="profVal" thumbLabel
                [displayWith]="formatLabel" tickInterval="1" min="0" max="10"></mat-slider>
              <mat-slide-toggle *ngIf="attributeForm.value.type == 'BOOLEAN'" formControlName="boolVal">
              </mat-slide-toggle>
            </div>
          </div>
          <div class="template-action row">
            <div class="col-md-12">
              <div class="form-action-area">
                <button mat-raised-button (click)="onClose()" class="gray-btn">Cancel</button>
                <button mat-raised-button [disabled]="!attributeForm.valid" (click)="onSave()" [mat-dialog-close]="true"
                  class="dark-blue-btn service-trigger">{{saveBtnText}}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ng-template>