.main-section-area.rtl-language {
  .menu-trigger {
    right: 0;
    left: inherit;
  }
  .logo-container {
    margin-left: 0;
    margin-right: 65px;

    .topbar-right {
      float: none !important;
      text-align: right;
      direction: rtl;
      display: inline-block;
    }
    .logo {
      float: right;
    }
  }
  .action-area {
    mat-expansion-panel-header {
      direction: rtl;
      text-align: right;
    }
  }
  .main-sidebar .mat-sidenav a.mat-list-item {
    direction: rtl;
    text-align: right;

    .mat-slide-toggle {
      direction: ltr;
    }
  }
}
