/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./material-theme";
@import "./rtl-style";
@import "~font-awesome/css/font-awesome.min.css";
@import "~material-design-icons/iconfont/material-icons.css";

$dark-font-color: #333333;
$light-font-color: #f1f1f1;
$white-color: #ffffff;
$dark-color: #595959;
$table-heading-bg: #f6f6f6;
$dark-gray-color: #939393;
$danger-color: #ff3a45;

$p-font-size: 14px;

html,
body,
.mat-card,
*,
.mat-tab-group {
  font-family: "Roboto", Quicksand, sans-serif !important;
  font-size: $p-font-size;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"), local("Roboto-Regular"),
    url("/assets/fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("/assets/fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

/* quicksand-300 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/quicksand/quicksand-v9-latin-300.eot"); /* IE9 Compat Modes */
  src: local("Quicksand Light"), local("Quicksand-Light"),
    url("/assets/fonts/quicksand/quicksand-v9-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/quicksand/quicksand-v9-latin-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/assets/fonts/quicksand/quicksand-v9-latin-300.woff") format("woff"); /* Modern Browsers */
}

/* quicksand-regular - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/quicksand/quicksand-v9-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Quicksand Regular"), local("Quicksand-Regular"),
    url("/assets/fonts/quicksand/quicksand-v9-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("/assets/fonts/quicksand/quicksand-v9-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/assets/fonts/quicksand/quicksand-v9-latin-regular.woff")
      format("woff"); /* Modern Browsers */
}

/* quicksand-700 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/quicksand/quicksand-v9-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Quicksand Bold"), local("Quicksand-Bold"),
    url("/assets/fonts/quicksand/quicksand-v9-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/quicksand/quicksand-v9-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/assets/fonts/quicksand/quicksand-v9-latin-700.woff") format("woff"); /* Modern Browsers */
}

.fa,
.fas {
  display: inline-block;
  font-family: "FontAwesome" !important;
  font-style: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
}

.material-icons {
  font-family: "Material Icons" !important;
}

.required {
  color: #f00 !important;
}

.p-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

button:focus {
  outline: none !important;
}

//panel-body
.panel-body {
  // margin-left: 145px;
  // width: calc(100% - 88px);
  width: 100%;
}

//Sub Headings
.sub-heading {
  padding: 12px 15px 0px 15px;
  border: 1px solid #f2f2f2;
  background: #fcfcfc;
  height: 40px;
  line-height: 40px;

  h2 {
    font-size: 14px;
    color: #939393;
    padding-left: 25px;

    &:before {
      content: "\f0da";
      font-family: FontAwesome;
      position: relative;
      // left: -15px;
      left: -9px;
      color: #e3e3e3;
    }
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }
}

.sub-heading-content {
  padding: 30px 0px 0px 60px;
}
.main-section-area {
  background: #ffffff;
  position: absolute;
  height: 100%;
  width: 100%;
}

.manage-dashboard {
  .mat-button-wrapper {
    font-size: 12px;
  }
}

.container-fluid.main-page-area {
  margin-top: 15px;
}

// Globally Form field Style
.mat-form-field-label {
  line-height: 18px !important;
}

.form-group {
  .color-selection {
    .mat-form-field-flex {
      padding: 0;
    }

    .mat-form-field-infix {
      padding: 0;

      textarea {
        border-radius: 5px;
        padding: 0.5em;
        min-height: 78px;
      }
    }

    input {
      width: 40px;
      height: 36px;
      display: inline-block;
      border-radius: 5px;
      position: relative;
      top: 2px;
      margin-right: 10px;
      border: 1px solid #f1f1f1;
    }

    mat-label {
      display: block;
    }

    mat-slide-toggle {
      float: right;
    }
  }

  &.inline-fields {
    .mat-form-field {
      display: inline-block;
      width: 70px;
      margin: 0 10px 0 5px;
    }

    label {
      color: #707070;
      font-size: 13px;
      font-weight: 500;
    }
  }

  mat-form-field {
    width: 100%;
  }

  mat-label {
    color: #8b8b8b;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    top: 0;

    span {
      color: #aaaaaa;
    }
  }

  .mat-radio-button {
    margin: 5px 5px 0 0;
  }

  .mat-radio-label-content {
    font-size: 13px;
    color: #707070;
  }

  .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    /* transform: translateY(-25%); */
    position: absolute;
    right: 0;
    top: -10px;
    width: 35px;
    height: 38px;
    line-height: 30px;
    background: #ccc;
  }

  .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    position: absolute;
    right: -9px;
    border-radius: 0px 5px 5px 0px;
    top: 0px;
    width: 40px;
    height: 38px;
    line-height: 30px;
    background: #ebebeb;
    border-left: 1px solid #c2c2c2;
  }

  .mat-select-value-text {
    color: #8b8b8b !important;
  }
  .mat-select-arrow {
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    margin: 0 auto;
    position: relative;
    top: 18px;
  }

  .mat-select-trigger {
    width: 100%;
  }
}

.mat-form-field-appearance-outline {
  .mat-form-field-infix {
    padding: 0.5em 0 1em 0;
    border-top-width: 0.5em;
  }

  .mat-form-field-wrapper {
    padding-bottom: 15px;

    mat-error,
    mat-error strong {
      font-size: 11px !important;
    }
  }

  .mat-form-field-outline-thick .mat-form-field-outline-end,
  .mat-form-field-outline-thick .mat-form-field-outline-gap,
  .mat-form-field-outline-thick .mat-form-field-outline-start {
    border-width: 1px !important;
  }
}

.main-sidebar {
  &.expand {
    .mat-expansion-indicator {
      display: none;
    }

    .mat-sidenav {
      width: 66px !important;
      transition: all 0.3s;

      &:hover {
        // width: 230px !important;
        width: 208px !important;
        transition: all 0.3s;

        .sidebar-text,
        .mat-expansion-indicator {
          display: inline-block !important;
        }
      }
    }

    .sidebar-text {
      display: none;
    }
  }

  .mat-sidenav {
    .mat-expansion-panel {
      margin: 0 !important;
      background: transparent;
      color: $dark-gray-color;
      box-shadow: none;
      //border-bottom: 1px solid $dark-gray-color;

      .mat-expansion-panel-header-description,
      .mat-expansion-indicator::after {
        color: $dark-gray-color;
      }
    }

    .mat-expansion-panel-header {
      padding: 0 16px;
      font-size: $p-font-size !important;
      max-height: 38px !important;
      line-height: 38px;

      span.mat-content {
        height: 20px;
        line-height: 20px;
      }
    }

    .mat-expansion-panel-body {
      padding: 0;
    }

    a.mat-list-item {
      min-height: 38px;
      line-height: 18px;
      display: flex;
      align-items: center;

      span {
        font-size: $p-font-size - 1px !important;
        color: $dark-gray-color;
        padding: 0px 5px;
      }

      .mat-list-item-content {
        width: 100%;
        padding: 0px 28px;
      }
    }
  }
}

// Globally Radio Button Space

.mat-radio-button {
  margin: 0 5px;
}

.vertical-radio {
  .mat-radio-button {
    display: block;
  }
}

//Global space for Cards
mat-card.mat-card {
  margin-bottom: 10px;
}

// mat-list
.mat-list.mat-list-base .mat-list-item {
  height: 42px;
}

//Tabs
.mat-tab-body-content {
  padding: 15px 10px;
}

// Globally style for tables
.table-heading {
  background: $table-heading-bg;
  border-radius: 0;
  padding: 10px;
  position: relative;

  &.search-header {
    .table-title {
      display: inline-block;
      margin: 12px 0;
    }
  }

  .table-title {
    color: $dark-font-color;
    font-size: 18px;
    line-height: 18px;
    padding: 0;
    text-transform: none;
    margin: 0;
  }
}

.table {
  .actions span {
    margin: 0;
    padding: 0 5px;
    cursor: pointer;

    i {
      font-size: 18px;
    }

    &.edit-row {
      &:hover {
        i {
          color: $dark-font-color;
        }
      }
    }

    &.delete-row {
      &:hover {
        i {
          color: $danger-color;
        }
      }
    }
  }
}

.dark-theme {
  .form-group mat-label {
    color: #afa6a6;
  }

  .template-list,
  .template-box {
    background: transparent !important;
  }

  .table-heading {
    background: $dark-color;

    .table-title {
      color: $light-font-color;
    }
  }

  .show-grid-block {
    background-color: #6d6b6b;
  }
}

.chart-legend .legend-label {
  display: inline-block;
}

.graph-area {
  mat-card {
    display: inline-block;
    width: 100%;
    overflow: hidden;
  }

  .legend-title {
    display: none;
  }

  .legend-labels {
    background: transparent !important;

    .legend-label-color {
      width: 10px;
      height: 10px;
    }

    .legend-label-text {
      width: inherit;
    }
  }
}

.top-label .legend-wrap {
  position: absolute;
  top: 35px;
  left: 5px;
}

.graph-area.gauge-chart {
  mat-card {
    @media (max-width: 1440px) {
      height: 280px;
    }

    .legend-wrap {
      position: absolute;
      bottom: 10px;
      text-align: center !important;

      ul {
        float: none;
        text-align: center;
      }
    }
  }
}

.pie-charts ngx-charts-chart {
  position: relative;
  display: inline-block;
  margin-top: -3em;

  .legend-wrap {
    position: absolute;
    bottom: 20px;
  }
}

.line-chart-area {
  .chart-legend {
    position: absolute;
    top: 12px;
    right: 0;
    display: inline-block;
    width: 204px !important;
  }
}

.ngx-charts-outer {
  margin: 0 auto;
}

.mat-drawer-container {
  background: transparent;
}

@media (min-width: 1440px) {
  .pie-charts-area {
    max-height: inherit !important;
  }
  .pie-charts-area ngx-charts-chart {
    margin: 0 auto !important;
    position: static !important;
    display: block !important;
  }
}

@media (min-width: 1601px) {
  .ngx-charts {
    margin-left: -15px;
  }
}

ngx-charts-pie-chart span.legend-label-color {
  padding: 5px;
  border-radius: 100% !important;
  position: relative;
  top: -5px;
  text-align: center;
  width: 20px !important;
  height: 20px !important;

  &:before {
    content: "";
    position: absolute;
    background: #ffffff;
    height: 8px;
    width: 8px;
    display: block;
    margin: auto;
    border-radius: 50%;
    left: 6px;
    top: 6px;
  }
}

//page section height
.page-height-selection {
  height: 100%;
  left: 0;
  width: 100%;

  .main-page-content {
    height: 100%;
    min-height: 100vh;
    background: #f5f5f5;
    border-radius: 10px;
    padding: 20px 10px 40px 10px !important;
    margin: 0 !important;
  }
}

.page-height {
  background: rgba(0, 0, 0, 0.02);
  position: relative;
  margin: 8px 0;

  &.h-100 {
    height: calc(100% + 20px) !important;
  }

  i {
    font-size: 26px;
    color: #666666;
  }

  .add-component {
    display: block;
    text-align: center;
    top: 40% !important;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  border: 1.5px dashed #e1e1e1;

  &.h-20 {
    min-height: 20% !important;
  }

  &.h-30 {
    min-height: 30% !important;
  }

  &.h-40 {
    min-height: 40% !important;
  }

  &.h-60 {
    min-height: 60% !important;
  }
}

.mat-dialog-container {
  position: relative;

  .modal-close-trigger {
    position: absolute;
    right: 0;
    top: 0;
  }
}

//Stepper
.template-stepper {
  position: absolute;
  width: 100%;
  height: 100%;

  .mat-horizontal-stepper-header-container {
    max-width: 460px;
    margin: 0 auto;

    .mat-step-label {
      position: absolute;
      bottom: -18px;
      text-align: center;
      width: 100px;
      left: -30px;
      font-size: 11px;
      font-weight: bold;
      line-height: 15px;
      color: #9d9d9d;
    }
  }

  .mat-step-icon-state-number.mat-step-icon,
  .mat-horizontal-stepper-header .mat-step-icon {
    background: #ffffff;
    border: 5px solid #ecf7fb;
    width: 38px;
    height: 38px;
    font-size: 14px;
    font-weight: bold;
    color: #d2d2d2;
    margin: 0 auto;

    &.mat-step-icon-selected {
      color: #4d4d4d;
      background: #cbe9f4;
    }
  }

  .mat-horizontal-stepper-header {
    overflow: visible !important;
    align-items: center;
    padding: 0;
    background: transparent !important;

    .mat-step-header-ripple {
      opacity: 0;
    }
  }

  .mat-stepper-horizontal-line {
    height: 5px;
    background: #ecf7fb;
    border: 0;
  }
}

.template-table {
  padding: 0;

  .mat-header-row {
    background: #ecf7fb;
    min-height: 40px;
  }

  .mat-header-cell {
    border-right: 1px solid #cecece;
    padding-left: 0;
    justify-content: center;
    font-size: 13px;
    font-weight: 600;
    color: #686868;

    &:nth-child(1) {
      max-width: 3%;
    }

    &:nth-child(2) {
      max-width: 6%;
    }

    &:nth-child(3) {
      max-width: 49%;
      justify-content: left;
      padding-left: 14px !important;
    }

    &:nth-child(4) {
      max-width: 10%;
    }

    &:nth-child(5) {
      max-width: 10%;
    }

    &:nth-child(6) {
      max-width: 10%;
    }

    &:nth-child(7) {
      max-width: 6%;
    }

    &:nth-child(8) {
      max-width: 6%;
    }

    &:nth-child(9) {
      max-width: 6%;
    }

    &:nth-child(10) {
      max-width: 6%;
      padding: 0;
    }

    &:nth-child(11) {
      max-width: 6%;
      padding: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }

  .mat-row {
    min-height: 40px;

    .mat-cell {
      justify-content: center;
      border-right: 1px solid #cecece;
      padding-left: 0;
      font-size: 11px;
      font-weight: 600;
      color: #686868;
      position: relative;

      &.full-width-cell {
        width: 100% !important;
        max-width: 100% !important;
        padding: 0 !important;
        border: 0 !important;
      }

      &:nth-child(1) {
        max-width: 3%;
      }

      &:nth-child(2) {
        max-width: 6%;
      }

      &:nth-child(3) {
        max-width: 49%;
        justify-content: left;
        padding-left: 14px !important;
      }

      &:nth-child(4) {
        max-width: 10%;
      }

      &:nth-child(5) {
        max-width: 10%;
      }

      &:nth-child(6) {
        max-width: 10%;
      }

      &:nth-child(7) {
        max-width: 6%;
      }

      &:nth-child(8) {
        max-width: 6%;
      }

      &:nth-child(9) {
        max-width: 6%;
      }

      &:nth-child(10) {
        max-width: 6%;
        padding: 0;
      }

      &:nth-child(11) {
        max-width: 6%;
        padding: 0;
      }

      &:last-child {
        border-right: 0;
      }

      i {
        color: #acacac;
      }
    }
  }
}

.mat-option-text img {
  max-height: 25px;
}

.sub-heading.stepper-headings {
  text-align: center;
  margin-top: 3em;

  h2 {
    font-size: 18px;
    font-weight: bold;
    color: #25afcb;
  }

  p {
    max-width: 600px;
    margin: 0 auto;
    font-size: 13px;
    color: #afa6a6;
  }
}

.action-area.padding-btn {
  width: 42%;
}

//Custom Modal
.widget-selection {
  max-width: 1200px !important;

  mat-dialog-container {
    padding: 0;
  }

  .modal-header {
    button.modal-close-trigger {
      position: absolute;
      right: 0;
      top: 5px;
    }
  }

  .mat-dialog-content {
    margin: 0;
    padding: 0;
    max-height: 90vh;
  }
}

.modal-header {
  background: #f9f9f9;
  position: fixed;
  width: 100%;
  z-index: 9;
  max-width: 1200px;
  top: 0;

  h3 {
    font-size: 18px;
    color: #5b5b5b;
    margin: 0;
  }
}

//Custom Padding

.pl1 {
  padding-left: 10px !important;
}

.pr1 {
  padding-right: 10px !important;
}

//dark menu
.mat-menu-panel.menu-dark {
  background: #919191;

  .mat-menu-content {
    padding: 0 5px !important;
  }

  .mat-menu-item {
    color: #fcfcfc;
    border-bottom: 1px dashed #3e3e3e;
    height: 30px;
    line-height: 30px;

    &:last-child {
      border: 0;
    }
  }
}

//Custom confirm dialog

//Group List
.group-list {
  padding: 0;
  width: 100%;
  margin: 0;

  li {
    display: inline-block;
    list-style: none;
    width: 20%;

    &:first-child {
      width: 60%;
    }
  }
}

.admin-panel {
  .mat-expanded {
    background: #f1f1f1;
  }

  .mat-expansion-panel-spacing {
    margin: 0;
    border-radius: 0;
  }

  .mat-expansion-panel {
    border-radius: 0 !important;
    box-shadow: none !important;
    border-bottom: 1px solid #efefef;
  }

  .mat-expansion-panel-body {
    padding: 20px;
  }

  .table-trigger {
    button {
      .mat-button-wrapper {
        padding: 0;
      }
    }
  }
}

.main-sidebar {
  &.expand {
    .mat-sidenav {
      .mat-expansion-panel {
        &.mat-expanded {
          .mat-expansion-panel-content {
            display: none;
          }
        }
      }

      &:hover {
        .mat-expansion-panel-content {
          display: block !important;
        }
      }
    }
    .form-group .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
      right: -10px;
    }
  }
}

//Style for code view tabs
.main-tab-area {
  .docs-source {
    padding: 0 20px 10px;
    min-height: 110px;
    position: relative;
    background: #fafafa;
    margin: 0 5px;

    pre {
      border-radius: 5px;
      display: block;
      margin: 0 auto 16px auto;
      overflow-x: auto;
      padding: 20px;
      white-space: pre-wrap;
      font-size: 14px;
      color: #555;

      span {
        font-weight: 100 !important;
        font-family: sans-serif !important;
        font-size: 15px;
      }
    }

    .comment-text {
      font-size: 13px;
      color: #c9d3d8;
      font-style: italic;
    }

    .copy-btn {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      color: #999;
    }

    &:hover {
      .copy-btn {
        display: block;
      }
    }
  }

  .code-header {
    display: flex;
    background: #f3f6f8;
    padding: 3px 10px;
    border-radius: 5px 5px 0 0;

    h3 {
      flex: 1 1 auto;
      font-size: 16px;
      margin: 0;
      vertical-align: middle;
      color: #717171;
      align-self: center;
    }

    button {
      color: #676767;
    }
  }

  .main-outer-card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    //padding-top: 0;

    .mat-card {
      margin-top: 15px;
      display: inline-block;
      width: 100%;
    }
  }

  mat-tab-group.mat-tab-group {
    &::after {
      content: "";
      height: 1px;
      background: #e1e1e1;
      width: 100%;
      position: relative;
      bottom: -10px;
    }
  }
}

.hljs-attribute,
.hljs-keyword,
.hljs-name,
.hljs-type {
  color: #3b78e7;
}

.hljs-meta,
.hljs-regexp,
.hljs-selector-tag,
.hljs-tag {
  color: #9c27b0;
}

.hljs-string,
.hljs-subst {
  color: #0d904f;
}

.hljs-comment {
  color: #616161;
  font-style: italic;
}

.hljs-number,
.hljs-template-variable,
.hljs-variable {
  color: #46b08e;
}

.hljs-selector-class,
.hljs-selector-id {
  color: #7f94b9;
}

.mat-tab-label,
.mat-tab-link {
  color: #00afcf;
  opacity: 1 !important;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #00afcf;
}

.container.main-custom-container {
  max-width: calc(100% - 0px);
  // padding: 0px;
}

.main-tab-area .mat-tab-group {
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 30px;
}

a.mat-list-item.active-link {
  background: #e3e4e5;

  span {
    color: #25afcb !important;
  }
  img {
    filter: invert(78%) sepia(22%) saturate(5256%) hue-rotate(149deg)
      brightness(84%) contrast(86%);
  }
}

//style for right sidebar mode
.right-sidebar {
  .menu-trigger {
    right: 0;
    left: inherit !important;
  }

  .logo-container {
    margin-left: 0 !important;
    margin-right: 65px !important;

    .topbar-right {
      float: none !important;
      display: inline-block;
    }

    .logo {
      float: right;
    }
  }
}

.service-trigger {
  float: right;
  .mat-button-wrapper {
    font-weight: 400;
    font-size: 14px;
  }
}

.custom-theme {
  //.mat-sidenav.mat-drawer{
  //  background: rgba(0,0,0,0.50) !important;
  //}

  .topbar-right {
    color: rgb(0, 255, 255);
    mix-blend-mode: difference;
  }

  .mat-nav-list {
    .sidebar-text {
      color: rgb(0, 255, 255) !important;
      mix-blend-mode: difference;
    }

    i {
      color: rgb(0, 255, 255) !important;
      mix-blend-mode: difference;
    }
  }
  .them-selector {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.2;
  }
}
.secondary-sidebar {
  .logo-container {
    margin-right: 65px;
  }
  &.rtl-language,
  &.right-sidebar {
    .right-btn {
      right: inherit !important;
      left: 0 !important;
    }
    .logo-container {
      margin-left: 65px !important;
    }
  }
}

mat-sidenav-container.secondary-sidebar {
  display: none;
  top: 50px !important;
  right: 0;
  max-width: 300px;
  left: inherit !important;

  &.mat-drawer-opened {
    display: block;
  }
}

.right-sidebar.secondary-sidebar {
  mat-sidenav-container.secondary-sidebar {
    right: inherit !important;
    left: 0 !important;
  }
}

//slide-toggle
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #25afcb;
  height: 23px;
  width: 40px;
  border-radius: 30px;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #fff;
  width: 20px;
  height: 20px;
  top: 4.99px;
  right: -3px;
  position: absolute;
  padding: -2px 0px 0px 11px !important;
}

// mat-select
.mat-pseudo-checkbox {
  border: none !important;
  border-radius: none !important;
}

.mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate {
  background: none;
}

.mat-pseudo-checkbox::after {
  color: #25afcb;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #25afcb;
}

// side-nav push
mat-sidenav-container.main-sidebar.mat-drawer-container.mat-sidenav-container.mat-drawer-transition.mat-drawer-opened.expand
  .mat-sidenav-content.mat-drawer-content.mat-sidenav-content {
  width: calc(100% - 66px);
  margin-left: 66px;
}

mat-sidenav-container.main-sidebar.mat-drawer-container.mat-sidenav-container.mat-drawer-transition.mat-drawer-opened.collapse
  .mat-sidenav-content.mat-drawer-content.mat-sidenav-content {
  width: calc(100% - 208px);
  margin-left: 208px;
}

// gray-border
mat-sidenav-content.mat-drawer-content.mat-sidenav-content {
  border: 5px solid #e3e4e5;
  border-bottom: 0;
}
mat-sidenav.mat-drawer.mat-sidenav.mat-drawer-over {
  border: 5px solid #e3e4e5;
  border-right: 0;
  border-bottom: 0;
}
//

.padding-btn {
  padding: 0px 15px;
}

//side-bar content height
.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  height: 38px !important;
}

// removing margin bottom from bootstrap form field
.form-group {
  // input.mat-input-element {
  margin-bottom: 0px;
  // }
}

//removing padding from mat-side-nav-content bootstrap col
.col-sm-12 {
  padding: 0;
}

input.mat-input-element {
  margin-top: -0.0625em;
  line-height: 18px;
  color: #8b8b8b;
}

//snackbar

snack-bar-container {
  background: #25cb8d !important;
  border: 1px solid #25cb8d;
  color: #fff !important;
  min-width: 250px !important;
  font-size: 16px !important;
  min-height: 40px !important;
  padding: 0 !important;

  .mat-simple-snackbar {
    justify-content: center;
    margin-left: 15px;
  }

  &:before {
    content: "";
    padding: 15px 25px;
    position: absolute;
    left: 0;
    // background-color: #25afcb;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-image: url(assets/images/checked.png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
  }
  &.error-snackbar {
    border-color: #ff585e;
    background-color: #ff585e !important;

    &:before {
      // background-color: #FF585E;
      background-image: url(assets/images/wrong.png);
    }
  }
}

// locale-setting mat-chip dropdowm
.locale-select-dropdown {
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 5px 0px 0px 0px;
  }
  .mat-select-trigger {
    top: -4px;
  }
  .mat-select-arrow-wrapper {
    top: 6px !important;
    height: 39.8px !important;
  }
  .mat-chip.mat-standard-chip {
    font-size: 13px;
  }
}

.toggle-save-btn {
  // .action-area.padding-btn {
  // width: 42%;
  margin-top: 3px !important;
  // }
}

.loading-area {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(247, 247, 247, 0.52);
  z-index: 999;
  top: 0;
  left: 0;

  mat-spinner {
    margin: 15% auto;
    stroke: #50bad0 !important;
  }
  .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: #50bad0 !important;
  }
}

.security-toggle {
  margin-bottom: 3px;
  .form-group.col-md-5.padding-btn {
    margin-bottom: 24px;
  }
}

.line-height {
  span {
    line-height: 16px !important;
  }
  .mat-select-arrow-wrapper {
    top: 0.3px !important;
    height: 38.3px !important;
  }
}

.header-image-icon {
  span.mat-content {
    img {
      margin: 0px 6px 0px 4px;
      width: 15px !important;
      height: 15px !important;
    }
  }
}

.add-attribute {
  mat-dialog-container {
    padding: 0;
  }
  .mat-select-panel {
    width: 100% !important;
    min-width: 450px !important;
    left: 14px;
    position: relative;
  }
}

.template-action {
  .action-area {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 36px;

    button {
      color: #ffffff;
      margin-left: 10px;

      &.gray-btn {
        background: #919191;
      }

      &.green-btn {
        background: #25cb8d;
      }

      &.blue-btn {
        background: #25afcb;
      }

      &.dark-blue-btn {
        background: #1c99c0;
      }
    }
  }

  .form-action-area {
    text-align: right;
    padding-top: 10px;
    // padding-bottom: 36px;

    button {
      color: #ffffff;
      margin-left: 10px;

      &.gray-btn {
        background: #919191;
      }

      &.green-btn {
        background: #25cb8d;
      }

      &.blue-btn {
        background: #25afcb;
      }

      &.dark-blue-btn {
        background: #1c99c0;
      }
    }
  }
}

// .confirm-dialog-container.mat-dialog-content {
//   display: block;
//   overflow: auto;
//   padding: none !important;
//   margin: none !important;
// }

.dialog-container {
  width: 100%;
  max-width: 600px !important;

  mat-dialog-container {
    padding: 0;
  }

  .mat-card-header {
    background: #ececec;
    padding: 0 10px;
    position: relative;
    height: 40px;

    mat-icon {
      position: absolute;
      right: 10px;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      top: 5px;
      border: 1px solid #a4a4a4;
      border-radius: 50%;
      color: #a4a4a4;
      cursor: pointer;
    }

    h4 {
      color: #5b5b5b;
      font-size: 14px;
      margin: 0;
      line-height: 14px;
      padding: 13px 0;
    }
  }

  .dialog-content {
    padding: 15px 40px;
    max-width: 550px;
    margin: 0 auto;
    // text-align: center;

    button {
      margin-left: 10px;
      min-width: 82px;

      &.gray-btn {
        background: #919191;
        color: #ffffff;

        &:hover {
          background: #7e7e7e;
        }
      }
    }
    .form-group .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
      right: -10px !important;
      top: 0px !important;
      height: 38px !important;
    }

    .form-group {
      .def-padding {
        .mat-slider-horizontal {
          height: 48px;
          width: 100%;
        }

        mat-slide-toggle {
          float: right;
        }
      }
    }
  }

  p {
    color: #919191;
    font-size: 13px;
    padding: 15px;
    line-height: 20px;
  }
}

.form-group {
  .mat-form-field:not(.mat-form-field-appearance-legacy)
    .mat-form-field-suffix
    .mat-icon {
    color: #8b8b8b;
    cursor: pointer;
  }
}

.attribute-type-value {
  display: flex;
  align-items: flex-start;

  .form-group.col-md-8 {
    padding: 0 !important;
  }

  .form-group.col-md-4 {
    padding-left: 50px;
  }
  mat-slide-toggle {
    position: relative;
    top: 8px;
  }
}
.form-group {
  mat-slider {
    width: 100%;
  }
}

.confirm-dialog-container {
  margin: 0 auto !important;
  padding: 0 !important;
  width: 100%;
  max-width: 600px !important;

  mat-dialog-container {
    padding: 0;
  }

  .mat-card-header {
    background: #ececec;
    padding: 0 10px;
    position: relative;
    height: 40px;

    mat-icon {
      position: absolute;
      right: 10px;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      top: 5px;
      border: 1px solid #a4a4a4;
      border-radius: 50%;
      color: #a4a4a4;
      cursor: pointer;
    }

    h4 {
      color: #5b5b5b;
      font-size: 14px;
      margin: 0;
      line-height: 14px;
      padding: 13px 0;
    }
  }

  .dialog-content {
    padding: 15px;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;

    button {
      margin-left: 10px;
      min-width: 82px;

      &.gray-btn {
        background: #919191;
        color: #ffffff;

        &:hover {
          background: #7e7e7e;
        }
      }
    }
  }

  p {
    color: #919191;
    font-size: 13px;
    padding: 15px;
    line-height: 20px;
  }
}
