<div class="loading-area" *ngIf="spinner">
  <mat-spinner></mat-spinner>
</div>
<div class="container main-custom-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel-body">
        <div class="sub-heading">
          <h2>Security Settings</h2>
        </div>
        <div class="panel-page-content">
          <form class="form-horizontal form-bordered" [formGroup]="securitySettingForm">
            <div class="col-md-5">
              <div class="form-group">
                <mat-label>AMQ Certificate Path</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput formControlName="amqCertificatePath">
                  <mat-error class="form-error">
                    {{formErrors.amqCertificatePath}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-label>AMQ Certificate Passphrase</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput formControlName="amqCertificatePassphrase">
                  <mat-error class="form-error">
                    {{formErrors.amqCertificatePassphrase}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-label>Certificate Path</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput formControlName="certificatePath">
                  <mat-error class="form-error">
                    {{formErrors.certificatePath}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-label>Certificate Keypath</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput formControlName="certificateKeypath">
                  <mat-error class="form-error">
                    {{formErrors.certificateKeypath}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-label>Certificate Passphrase</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput formControlName="certificatePassphrase">
                  <mat-error class="form-error">
                    {{formErrors.certificatePassphrase}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-label>Certficate Authority Path</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput formControlName="certificateAuthorityPath">
                  <mat-error class="form-error">
                    {{formErrors.certificateAuthorityPath}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-label>Certficate Authority Passphrase</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput formControlName="certificateAuthorityPassphrase">
                  <mat-error class="form-error">
                    {{formErrors.certificateAuthorityPassphrase}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-label>CORS Origin</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput formControlName="corsOrigin">
                  <mat-error class="form-error">
                    {{formErrors.corsOrigin}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-label>Keystore Path</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput formControlName="keystorePath">
                  <mat-error class="form-error">
                    {{formErrors.keystorePath}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group password-privacy-icon">
                <mat-label>Keystore Pwd</mat-label>
                <mat-form-field appearance="outline">
                  <input [type]="hide1 ? 'password' : 'text'" matInput formControlName="keystorePwd">
                  <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error class="form-error">
                    {{formErrors.keystorePwd}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-label>Truststore Path</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput formControlName="truststorePath">
                  <mat-error class="form-error">
                    {{formErrors.truststorePath}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group password-privacy-icon">
                <mat-label>Truststore Pwd</mat-label>
                <mat-form-field appearance="outline">
                  <input [type]="hide2 ? 'password' : 'text'" matInput formControlName="truststorePwd">
                  <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error class="form-error">
                    {{formErrors.keystorePath}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-label>JKS Keystore Path</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput formControlName="jksKeystorePath">
                  <mat-error class="form-error">
                    {{formErrors.jksKeystorePath}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group password-privacy-icon">
                <mat-label>JKS Keystore Password</mat-label>
                <mat-form-field appearance="outline">
                  <input [type]="hide3 ? 'password' : 'text'" matInput formControlName="jksKeystorePwd">
                  <mat-icon matSuffix (click)="hide3 = !hide3">{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error class="form-error">
                    {{formErrors.jksKeystorePwd}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group password-privacy-icon">
                <mat-label>JKS Key Manager Password</mat-label>
                <mat-form-field appearance="outline">
                  <input [type]="hide4 ? 'password' : 'text'" matInput formControlName="jksKeymanagerPwd">
                  <mat-icon matSuffix (click)="hide4 = !hide4">{{hide4 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error class="form-error">
                    {{formErrors.jksKeymanagerPwd}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="security-toggle">
                <div class="form-group adjust-toggle">
                  <mat-label>Bypass SSL</mat-label>
                  <mat-slide-toggle formControlName="commBypassSSL"></mat-slide-toggle>
                </div>
                <div class="form-group adjust-toggle">
                  <mat-label>Enable SSL</mat-label>
                  <mat-slide-toggle formControlName="enableSSL"></mat-slide-toggle>
                </div>
                <div class="form-group adjust-toggle">
                  <mat-label style="padding-right: 5px;">Minio SSL</mat-label>
                  <mat-slide-toggle formControlName="minioSSL"></mat-slide-toggle>
                </div>
                <div class="form-group adjust-toggle">
                  <mat-label>Mongo SSL</mat-label>
                  <mat-slide-toggle formControlName="mongoSSL"></mat-slide-toggle>
                </div>
                <div class="form-group adjust-toggle">
                  <mat-label>Stomp SSL</mat-label>
                  <mat-slide-toggle formControlName="stompSSLEnabled"></mat-slide-toggle>
                </div>
              </div>
            </div>

            <div class="action-area col-md-5">
              <button [disabled]="!securitySettingForm.valid" mat-raised-button class="blue-btn service-trigger"
                (click)="onSave()">Save</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>