.main-section-area.rtl-language{

  //.main-sidebar mat-sidenav.mat-drawer{
  //  right: 0;
  //  transform: translate(0) !important;
  //}
  .menu-trigger{
    right: 0;
    left: inherit;
  }
  .logo-container {
    margin-left: 0;
    margin-right: 65px;


    .topbar-right {
      float: none !important;
      text-align: right;
      direction: rtl;
      display: inline-block;
    }
    .logo{
      float: right;
    }
  }
  .action-area{

    mat-expansion-panel-header {
      direction: rtl;
      text-align: right;
    }
  }
  .main-sidebar .mat-sidenav a.mat-list-item {
    direction: rtl;
    text-align: right;

    .mat-slide-toggle{
      direction: ltr;
    }
  }
}
