<div class="loading-area" *ngIf="spinner">
  <mat-spinner></mat-spinner>
</div>
<div class="container main-custom-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel-body">
        <div class="sub-heading">
          <h2>AMQ Settings</h2>
        </div>
        <div class="sub-heading-content">
          <form class="form-horizontal form-bordered" [formGroup]="amqSettingForm">
            <div class="form-group  col-md-5">
              <mat-label>AMQ User</mat-label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="amqUser">
                <mat-error class="form-error">
                  {{formErrors.amqUsername}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-5">
              <mat-label>AMQ Password</mat-label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="amqPwd">
                <mat-error class="form-error">
                  {{formErrors.amqPwd}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-5">
              <mat-label>AMQ Host</mat-label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="amqHost">
                <mat-error class="form-error">
                  {{formErrors.amqHost}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-5">
              <mat-label>AMQ Port</mat-label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="amqPort">
                <mat-error class="form-error">
                  {{formErrors.amqPort}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-5">
              <mat-label>AMQ URL</mat-label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="amqUrl">
                <mat-error class="form-error">
                  {{formErrors.amqUrl}}
                </mat-error>
              </mat-form-field>
            </div>

            <div class="action-area padding-btn">
              <button [disabled]="!amqSettingForm.valid" mat-raised-button class="blue-btn service-trigger" (click)="onSave()">Save</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
