<div class="loading-area" *ngIf="spinner">
  <mat-spinner></mat-spinner>
</div>
<div class="container main-custom-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel-body">
        <div class="sub-heading">
          <h2>Log Settings</h2>
        </div>
        <div class="sub-heading-content">
          <form class="form-horizontal form-bordered" [formGroup]="logSettingForm">
            <div class="form-group col-md-5">
              <mat-label>Log Level<span class="required">*</span></mat-label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="logLevel">
                <mat-error class="form-error">
                  {{formErrors.logLevel}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-5">
              <mat-label>Logs File Path<span class="required">*</span></mat-label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="logFilePath">
                <mat-error class="form-error">
                  {{formErrors.logFilePath}}
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-group col-md-5">
              <mat-label>Agent Logs Max Files<span class="required">*</span></mat-label>
              <mat-form-field appearance="outline">
                <input type="number" min="0" matInput formControlName="agentLogsMaxFiles">
                <mat-error class="form-error">
                  {{formErrors.agentLogsMaxFiles}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="disclaimer-info">
              <div class="form-group col-md-5">
                <mat-label>Agent Logs File Size<span class="required">*</span></mat-label>
                <mat-form-field appearance="outline">
                  <input type="number" min="0" matInput formControlName="agentLogsFileSize">
                  <mat-error class="form-error">
                    {{formErrors.agentLogsFileSize}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-4" style="padding: 0;">
                <span class="logo-msg-span">*File size should be in Mb's</span>
              </div>
            </div>

            <div class="action-area padding-btn toggle-save-btn">
              <button [disabled]="!logSettingForm.valid" mat-raised-button class="blue-btn service-trigger" (click)="onSave()">Save</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
