.service-trigger {
  background: #25afcb;
  color: #ffffff;
  height: 30px;
  line-height: 30px;
  position: relative;
  top: 20px;
  width: 90px;
}

mat-slide-toggle {
  float: right;
}

.disclaimer-info {
  display: flex;
  flex-wrap: wrap;
  .logo-msg-span {
    position: absolute;
    top: 45px;
    color: #717171;
    font-size: 11px;
    width: 100%;
  }
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
