//.header {
////  width: calc(100% - 60px);
////  float: right;
////}

//for WallBoard
.header {
  width: 100%;
  float: none;
}

.topbar-right{

  p{
    color: #33ACE8;
    margin: 9px 0;
    word-spacing: 2px;
  }
}
.logo-container{
  margin-left: 65px;
}
