<!--<div class="loading-area" *ngIf="spinner">-->
<!--    <mat-spinner></mat-spinner>-->
<!--</div>-->
<div class="container main-custom-container">
    <div class="row">
        <div class="col-sm-12 p-0">
            <div class="panel-body">
                <div class="sub-heading">
                    <h2>Agent MRDs</h2>
                </div>
                <div class="routing-content">
                    <div class="filter-section">
                        <div class="form-group search-field">
                            <mat-form-field appearance="outline">
                                <input matInput [(ngModel)]="searchTerm" placeholder="Search">
                                <mat-icon>search</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="routing-table">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Voice Call</th>
                                <th scope="col">Video Call</th>
                                <th scope="col">Chat</th>
                                <th scope="col">Email</th>
                                <th scope="col">Social Media</th>
                            </tr>
                            </thead>
                            <tbody *ngIf="mrdTasksData && mrdTasksData.length != 0">
                                <tr
                                        *ngFor="let data of mrdTasksData | filter:searchTerm | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
                                    <td scope="row">{{data.name}}</td>
                                    <td scope="row" *ngFor="let mrdData of data.MrdTask">
                                        <select>
                                            <option *ngFor ="let a of taskArray(mrdData.maxValue); let i = index" [selected]="i == mrdData.defaultValue" [value]="i" >{{i}}</option>

                                        </select>
                                    </td>
                                </tr>

                            </tbody>

                            <div *ngIf="mrdTasksData && mrdTasksData.length == 0" class="no-data-warning">
                                <i class="material-icons">warning_amber</i>
                                <span>No Data Found</span>
                            </div>

                        </table>
                        <div *ngIf="mrdTasksData && mrdTasksData.length >= 2" class="pagination-section">
              <span class="page-span">
                <span>Entries Per Page</span>
                <select (change)="selectPage()" [(ngModel)]="selectedItem">
                  <option *ngFor="let item of itemsPerPageList" [value]="item">{{ item }}
                  </option>
                </select>
              </span>
                            <pagination-controls (pageBoundsCorrection)="pageBoundChange($event)"
                                                 (pageChange)="p = $event;pageChange($event)" previousLabel="" nextLabel="">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
